openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW L.EIC Q&A Web API'
  description: 'Web Resources Specification (A7) for L.EIC Q&A'

servers:
- url: http://lbaw.fe.up.pt/lbaw2185/
  description: Production server

#externalDocs:
#  description: Find more info here.
#  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
  - name: 'M01: Autenticação e Perfil Individual'
  - name: 'M02: Intervenções [DOING]'
  - name: 'M03: Pesquisa de Questões [DONE]'
  - name: 'M04: Unidades Curriculares [DOING]'
  - name: 'M05: Utilizadores'
  - name: 'M06: Notificações'
  - name: 'M07: Páginas estáticas [DONE]'
  - name: 'M08: Páginas de administração [DONE]' 

paths:

  #########################################
  # M01: Autenticação e Perfil Individual #
  #########################################

  /login:
    get:
      operationId: R101
      summary: 'R101: Formulário de Autenticação'
      description: 'Acesso ao formulário de autenticação. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'
      responses:
        '200':
          description: 'Ok. Mostrar Início de sessão UI'
    post:
      operationId: R102
      summary: 'R102: Ação de Autenticação'
      description: 'Acesso à submissão do formulário de autenticação. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:       # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirecionar após o processamento das credenciais de autenticação.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Autenticação bem sucedida. Redirecionar para o perfil do utilizador.'
                  value: '/users/{id}'
                302Error:
                  description: 'Autenticação falhada. Redirecionar para o formulário de autenticação.'
                  value: '/login'
 
  /logout:
    get:
      operationId: R103
      summary: 'R103: Ação de Terminar Sessão'
      description: 'Terminar sessão do utilizador autenticado. Acesso: USR, ADM'
      tags:
        - 'M01: Autenticação e Perfil Individual'
      responses:
        '302':
          description: 'Redirecionar após o processo de terminar sessão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Terminar sessão bem sucedida. Redirecionar para o formulário de inicio de sessão'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Formulário de Registo'
      description: 'Acesso ao formulário de novo registo. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Registo.'

    post:
      operationId: R105
      summary: 'R105: Ação de Registo'
      description: 'Processa a submissão de registo do novo utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                username:
                  type: string
                password:
                  type: string
                nome:
                  type: string
                sobre: 
                  type: string
                data_nascimento:
                  type: string
                  format: date-time
                ano_ingresso:
                  type: integer
                  minimum: 0
                foto_perfil:
                  type: string
                  format: binary
              required:
                - username
                - email
                - password

      responses:
        '302':
          description: 'Redirecionar após processar a informação do novo utilizador.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Autenticação bem sucedida. Redirecionar para o perfil de utilizador.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Autenticação falhada. Redirecionar para o formulário de Registo.'
                  value: '/registar'

  # M01: recuperação de password  
  /recuperar-password:
    get:
      operationId: R106
      summary: 'R106: Formulário de Recuperação de Password'
      description: 'Acesso ao formulário de recuperação de passowrd. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Recuperação de Password.'
    
    post:
      operationId: R107
      summary: 'R107: Ação de Recuperação de Password'
      description: 'Processa a submissão de recuperação de password de um utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        '302':
          description: 'Redirecionar após processar se o email introduzido está presente no sistema.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Email presente no sistema. Redirecionar para .'
                  value: '' # Para onde vai?????????????????
                302Failure:
                  description: 'Email ausente do sistema. Redirecionar para o formulário de Registo.'
                  value: '/registar'
  
  # Isto faz sentido? Normalmente a página de recuperar password é só para escolher o email para onde vão mandar o link para recuperar a password e só a partir desse link é que se altera a password
  /user/{id}/nova-password:
    get:
      operationId: R108
      summary: 'R108: Formulário de Configuração de Nova Password'
      description: 'Acesso ao formulário de configuração de nova passowrd. Acesso: PRT' # Qual seria o acesso? PRT não parece fazer sentido porque a pessoa não está logada acho eu
      tags:
        - 'M01: Autenticação e Perfil Individual'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Configuração de Nova Password.'
    
    post:
      operationId: R109
      summary: 'R109: Ação de Configuração de Nova Password'
      description: 'Processa a submissão de nova password de um utilizador. Acesso: PRT' # Idem
      tags:
        - 'M01: Autenticação e Perfil Individual'
      
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
              required:
                - password
      
      responses:
        '302':
          description: 'Redirecionar após processar se a nova password introduzida é válida.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Recuperação de Password bem sucedida. Redirecionar para o perfil de utilizador.'
                  value:  '/users/{id}'
                302Failure:
                  description: 'Recuperação de Password falhada. Redirecionar para o formulário de Configuração de Nova Password.'
                  value: '/user/{id}/nova-password'


  /users/{id}:
    get:
      operationId: R110
      summary: 'R110: Visualizar perfil de utilizador'
      description: 'Mostra o perfil do utilizador. Acesso: USR'
      tags:
        - 'M01: Autenticação e Perfil Individual'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Mostrar a UI do perfil de utilizador'

  /users/{id}/edit:
    get:
      operationId: R111
      summary: 'R11:  Formulário de Editar Perfil do Utilizador'
      description: 'Acesso ao formulário de Editar Perfil do Utilizador. Acesso: PRT'
      tags:
        - 'M01: Autenticação e Perfil Individual'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Perfil do Utilizador UI'
    post:
      operationId: R112
      summary: 'R112: Ação de Editar Perfil do Utilizador'
      description: 'Acesso à submissão do formulário de Editar Perfil do Utilizador. Acesso: PRT'
      tags:
        - 'M01: Autenticação e Perfil Individual'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
                nome:
                  type: string
                sobre: 
                  type: string
                data_nascimento:
                  type: string
                  format: date
                ano_ingresso:
                  type: integer
                  minimum: 0
                foto_perfil:
                  type: string
                  format: binary
                       
      response:
        '302':
          description: 'Redirecionar após o processamento da edição do Perfil do Utilizador.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o Perfil do Utilizador.'
                  value: '/users/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição do Perfil do Utilizador.'
                  value: '/users/{id}/edit'

  /api/users/{id}/follow/{uc}:
    post:
      operationId: R113
      summary: 'R113: Ação de Seguir uma Unidade Curricular'
      description: 'Ação de fazer um aluno seguir uma unidade curricular. Acesso: PRT'
      tags:
        - 'M01: Autenticação e Perfil Individual'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: uc
          schema:
            type: integer
          required: true

      response:
        '302':
          description: 'Redirecionar após o processamento de seguir uma UC.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Ação com sucesso. Redirecionar para a página de Unidades Curriculares.'
                  value: '/ucs'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para a página de Unidades Curriculares.'
                  value: '/ucs'



  #####################
  # M02: Intervenções #
  ##################### 

  /questions:
    get:
      operationId: R201
      summary: 'R201: Listar Questões.'
      description: 'Lista questões segundo determinados parâmetros. Acesso: PUB.'
  
      tags: 
        - M02: Intervenções'

      parameters:
        - in: query
          name: filter
          description: Filtros a ser usados na listagem.
          schema:
            type: string
          required: false
        - in: query
          name: sort
          description: Método de ordenação usado na listagem.
          schema:
            type: string
          required: false
        - in: query
          name: order
          description: Sentido da ordenação da listagem.
          schema:
            type: string
          required: false
        - in: query
          name: tags
          description: Unidades Curriculares usadas para a filtragem da listagem.
          schema:
            type: string
          required: false

  /questions/create:
    get:
      operationId: R202
      summary: 'R202: Formulário de Nova Questão'
      description: 'Acesso ao formulário de Nova Questão. Acesso: USR. \n'
      tags:
        - 'M02: Intervenções'
      responses:
        '200':
          description: 'Ok. Mostrar Nova Questão UI'
    
    post:
      operationId: R203
      summary: 'R203: Ação de criação de questão.'
      description: 'Acesso à submissão do formulário de Nova Questão. Acesso: USR'
      tags: 
        - 'M02: Intervenções'
    
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title: 
                  type: string
                text:
                  type: string
                category:
                  type: integer
              required: 
                - title
                - text
                - categoria
      responses:
        '302':
          description: 'Redirecionar após o processamento da criação da Nova Questão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão criada.'
                  value: '/questions/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o formulário de criação de Nova Questão.'
                  value: '/questions/create'

  /questions/{id}: 
    get:
      operationId: R204
      summary: 'R204: Visualizar detalhes de questão'
      description: 'Mostra o detalhe de uma questão: contéudo da questão, respostas e comentários associados. Acesso: PUB.
                    Funcionalidades: criar nova questão, votar, validar, responder, editar, denunciar, apagar (varia com o utilizador)'
      tags:
        - 'M02: Intervenções'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Mostrar a UI do detalhe de questão'
          
  /questions/{id}/edit:
    get:
      operationId: R205
      summary: 'R205: Formulário de Editar Questão'
      description: 'Acesso ao formulário de Editar Questão. Acesso: OWN'
      tags:
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Questão UI'

    post:
      operationId: R206
      summary: 'R206: Ação de Editar Questão'
      description: 'Acesso à submissão do formulário de Editar Questão. Acesso: OWN'
      tags:
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title: 
                  type: string
                text:
                  type: string
                category:
                  type: integer
              required: 
                - title
                - text
                - category
      response:
        '302':
          description: 'Redirecionar após o processamento da edição da questão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão editada.'
                  value: '/questions/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição de uma questão.'
                  value: '/questions/{id}/edit'


  /answers:
    get:
      operationId: R207
      summary: 'R207: Redirecionar para Questões.'
  
      tags: 
        - M02: Intervenções'
      responses:
        '302':
          description: Redirect to '/questions'
  
  /questions/{id}/answers/create:
    post:
      operationId: R208
      summary: 'R208: Ação de criação de resposta.'
      description: 'Ação de submissão do formulário de Nova Resposta. Acesso: USR'
      tags: 
        - M02: Intervenções'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string                
              required: 
                - text
      responses:
        '302':
          description: 'Redirecionar após o processamento da criação da nova resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão que foi respondida.'
                  value: '/questions/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o detalhe da questão que foi respondida.'
                  value: '/questions/{id}'
  
  /answers/{id}/edit:
    get:
      operationId: R209
      summary: 'R303: Formulário de Editar Resposta'
      description: 'Acesso ao formulário de Editar Resposta. Acesso: PRT'
      tags:
        - M02: Intervenções'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Resposta UI'
          
    post:
      operationId: R210
      summary: 'R210: Ação de Editar Resposta'
      description: 'Acesso à submissão do formulário de Editar Resposta. Acesso: PRT'
      tags:
        - M02: Intervenções'

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string
                  required: true
      response:
        '302':
          description: 'Redirecionar após o processamento da edição da resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão respondida'
                  value: '/questão/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição de uma resposta.'
                  value: '/resposta/{id}/editar'



  # M02: votacao e eliminicao e reporte de questões ?? é uma acção por isso nao deve ser incluída??
  /api/questions/{id}/vote:
    post:
      operationId: R206
      summary: 'R206: Ação de Votar numa Questão.'
      description: 'Ação de votar numa questão, acessível a qualquer utilizador autenticado exceto ao próprio autor. Acesso: USR - PRT' # Como se diz isto?
      tags: 
        - 'M02: Questões'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: boolean # Voto positivo ou negativo
              required: true  
      response:
        '302':
          description: 'Redirecionar após o processamento do voto.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Votação com sucesso. Redirecionar para o detalhe da questão que foi votada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Votação sem sucesso. Redirecionar para o detalhe da questão que foi votada.'
                  value: '/questao/{id}'

  /questions/{id}/delete:
    delete:
      operationId: R207
      summary: 'R207: Ação de Eliminar uma Questão.'
      description: 'Ação de eliminar uma questão. Acesso: PRT, ADM'
      tags: 
        - 'M02: Questões'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      response:
        '302':
          description: 'Redirecionar após a eliminação da questão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Eliminação com sucesso. Redirecionar para a página inicial.'
                  value: '/home'
                302Error:
                  description: 'Eliminação sem sucesso. Redirecionar para o detalhe da questão que seria eliminada.'
                  value: '/questao/{id}'

  /api/questions/{id}/report:
    post:
      operationId: R208
      summary: 'R208: Ação de Reportar uma Questão.'
      description: 'Ação de reportar uma questão. Acesso: USR'
      tags: 
        - 'M02: Questões'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      response:
        '302':
          description: 'Redirecionar após a denúncia de uma questão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Eliminação com sucesso. Redirecionar para o detalhe da questão reportada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Eliminação sem sucesso. Redirecionar para o detalhe da questão reportada.'
                  value: '/questao/{id}'

  # user stories -> experiencia para dar aos utilizadores -> para acoes precisamos de coisas que 
  # o que acontece no end point 
  # homepage -> experiencia do utilizador : o que tem disponível ai -> endpoint por exemplo para onde os formularios 
  # esta pagina vai fazer isto e permite tal. acoes nao na descrisao da pagina mas endpoints onde se realizam a ação 

  ##################
  # M03: Respostas #
  ##################






  # M03: votacao, validacao, eliminicao e reporte de respostas ?? é uma acção por isso nao deve ser incluída??
  /answers/{id}/vote:
    post:
      operationId: R305
      summary: 'R305: Ação de votar num comentário.'
      description: 'Ação de votar num comentário, acessível a qualquer utilizador autenticado exceto ao próprio autor. Acesso: USR - PRT' # Como se diz isto?
      tags: 
        - 'M03: Respostas'

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer    

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: boolean # Voto positivo ou negativo
              required: true  
      
      response:
        '302':
          description: 'Redirecionar após o processamento do voto.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Votação com sucesso. Redirecionar para o detalhe da questão correspondente à resposta votada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Votação sem sucesso. Redirecionar para o detalhe da questão correspondente à resposta votada.'
                  value: '/questao/{id}'

  /answers/{id}/delete:
    delete:
      operationId: R306
      summary: 'R306: Ação de Eliminar uma Resposta.'
      description: 'Ação de eliminar uma resposta. Acesso: PRT, ADM'
      tags: 
        - 'M03: Respostas'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      response:
        '302':
          description: 'Redirecionar após a eliminação da resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Eliminação com sucesso. Redirecionar para o detalhe da questão correpsondente à resposta que seria eliminada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Eliminação sem sucesso. Redirecionar para o detalhe da questão correpsondente à resposta que seria eliminada.'
                  value: '/questao/{id}'

  /answers/{id}/report:
    post:
      operationId: R307
      summary: 'R307: Ação de Reportar uma Resposta.'
      description: 'Ação de reportar uma repsposta. Acesso: USR'
      tags: 
        - 'M03: Respostas'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      response:
        '302':
          description: 'Redirecionar após a denúncia de uma resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Eliminação com sucesso. Redirecionar para o detalhe da questão correspondente à resposta reportada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Eliminação sem sucesso. Redirecionar para o detalhe da questão correspondente à resposta reportada.'
                  value: '/questao/{id}'

  # /api/answers/{id}/validate:

  # M03: as respotas são apenas visualizadas como uma componente da pagina de destalhe da questao -- falta isto... :c


  ####################
  # M04: Comentários #
  ####################
                  
  /comments/create:
    get:
      operationId: R401
      summary: 'R401: Formulário de Novo Comentário'
      description: 'Acesso ao formulário de Novo Comentário. Acesso: USR'
      tags:
        - 'M04: Comentários'
      responses:
        '200':
          description: 'Ok. Mostrar Novo Comentário UI'
    put:
      operationId: R402
      summary: 'R402: Ação de criação de comentário.'
      description: 'Acesso à submissão do formulário de Novo comentário. Acesso: USR'
      tags: 
        - 'M04: Comentários'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                  required: true
      response:
        '302':
          description: 'Redirecionar após o processamento da criação do novo comentário.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão comentada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o formulário de criação de novo comentário.'
                  value: '/comentario/criar'
  
  /comments/{id}/edit:
    get:
      operationId: R403
      summary: 'R403: Formulário de Editar comentário'
      description: 'Acesso ao formulário de Editar comentário. Acesso: PRT'
      tags:
        - 'M04: Comentários'
      responses:
        '200':
          description: 'Ok. Mostrar Editar Comentário UI'
    post:
      operationId: R404
      summary: 'R404: Ação de Editar Comentário'
      description: 'Acesso à submissão do formulário de Editar Cometário. Acesso: PRT'
      tags:
        - 'M04: Comentários'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                required: true
      response:
        '302':
          description: 'Redirecionar após o processamento da edição do comemtário.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão comentada'
                  value: '/questão/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição de um comentário.'
                  value: '/comentario/{id}/editar'

  # M04: eliminicao e reporte de comentarios ?? é uma acção por isso nao deve ser incluída??
  /comments/{id}/delete:
    delete:
      operationId: R405
      summary: 'R405: Ação de Eliminar um Comentário.'
      description: 'Ação de eliminar um comentário. Acesso: PRT, ADM'
      tags: 
        - 'M04: Comentários'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      response:
        '302':
          description: 'Redirecionar após a eliminação da resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Eliminação com sucesso. Redirecionar para o detalhe da questão correspondente ao comentário que seria eliminada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Eliminação sem sucesso. Redirecionar para o detalhe da questão correspondente ao comentário que seria eliminada.'
                  value: '/questao/{id}'

  /api/comments/{id}/report:
    post:
      operationId: R406
      summary: 'R406: Ação de Reportar um Comentário.'
      description: 'Ação de reportar um comentário. Acesso: USR'
      tags: 
        - 'M04: Comentários'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      response:
        '302':
          description: 'Redirecionar após a denúncia de um comentário.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Eliminação com sucesso. Redirecionar para o detalhe da questão correspondente ao comentário reportado.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Eliminação sem sucesso. Redirecionar para o detalhe da questão correspondente ao comentário reportado.'
                  value: '/questao/{id}'

  # M04: os comentarios são apenas visualizados como uma componente da pagina de destalhe da questao...


  #################################
  # M05: Pesquisa de Intervenções #
  #################################
  
  /search:
    get:
      operationId: R301
      summary: 'R301: Pesquisar Intervenções.'
      description: 'Procura por intervenções e redireciona para uma página com as questões selecionadas pela pesquisa. Acesso: PUB.'
  
      tags: 
        - 'M03: Pesquisa de Intervenções'

      parameters:
        - in: query
          name: q
          description: Palavras chave a ser usadas para pesquisa full-text
          schema:
            type: string
          required: false    


  ##############################
  # M04: Unidades Curriculares #
  ##############################

  /ucs:
    get:
      operationId: R401
      summary: 'R401: Catálogo de Unidades Curriculares.'
      description: 'Mostra todas as Unidades Curriculares do sitema. Acesso: USR. \nFuncionalidades: visitar em detalhe uma UC, seguir uma UC.'
      tags: 
        - 'M04: Unidades Curriculares'
      responses:
        '200':
          description: 'Ok. Mostrar Página de Unidades Curriculares UI'

  /ucs/{id}:
    get:
      operationId: R402
      summary: 'R402: Detalhe de uma Unidades Curricular.'
      description: 'Mostra em detalhe uma Unidade Curricular do sitema. Acesso: USR. \nFuncionalidades: visitar o perfil de um docente seu, visitar uma das suas top questões, seguir uma UC.'
      tags: 
        - 'M04: Unidades Curriculares'
      parameters:
        - in: path
          name: id
          description: Identificador da Unidade Curricular
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Página de Detalhe de Unidade Curricular UI'

  /ucs/create:
    get:
      operationId: R403
      summary: 'R403: Formulário de criação de Unidade Curricular.'
      description: 'Acesso ao formulário de criação de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      responses:
        '200':
          description: 'Ok. Mostrar Criação de Unidade Curricular UI'
    post:
      operationId: R404
      summary: 'R404: Ação de criação de Unidade Curricular'
      description: 'Acesso à submissão de criação de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:       
                  type: string
                code:    
                  type: string
                description:       
                  type: string
              required:
                - name
                - code
                - description
      responses:
        '302':
          description: 'Redirecionar após o processamento da criação de Unidade Curricular.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação bem sucedida. Redirecionar para o Catálogo de UCs do administrador.'
                  value: '/admin/ucs'
                302Error:
                  description: 'Criação falhada. Redirecionar para o formulário de criação de uma UC.'
                  value: '/ucs/create'
      
  /ucs/{id}/edit:
    get:
      operationId: R405
      summary: 'R405: Formulário de edição de Unidade Curricular.'
      description: 'Acesso ao formulário de edição de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      parameters:
        - in: path
          name: id
          description: Identificador da Unidade Curricular
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Edição de Unidade Curricular UI'
    post:
      operationId: R406
      summary: 'R406: Ação de edição de Unidade Curricular'
      description: 'Acesso à submissão de edição de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:       
                  type: string
                code:    
                  type: string
                description:       
                  type: string
              required:
                - name
                - code
                - description
      responses:
        '302':
          description: 'Redirecionar após o processamento da edição de Unidade Curricular.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição bem sucedida. Redirecionar para o Catálogo de UCs do administrador.'
                  value: '/admin/ucs'
                302Error:
                  description: 'Edição falhada. Redirecionar para o formulário de edição da UC.'
                  value: '/ucs/{id}/edit'

  # /api/ucs/{id}/delete
  # /api/ucs/{uc_id}/teachers/{user_id}/add
  # /api/ucs/{uc_id}/teachers/{user_id}/delete


  #################################
  # M07: Pesquisa de Utilizadores #
  #################################

  /users:
    get:
      operationId: R701
      summary: 'R701: Pesquisar Utilizadores API.'
      description: 'Procura utilizadores e retorna o resultado como JSON. Acesso: USR.'
      tags: 
        - 'M07: Pesquisa de Utilizadores'

      parameters:
        - in: query
          name: nome
          description: Palavra chave a ser usada para pesquisa full-text
          schema:
            type: string
          required: false
   

  #####################
  # M08: Notificações #
  #####################

  /users/{id}/notifications:
    get: 
      operationId: R801
      summary: 'R801: UI de Notitificações do Utilizador.'
      description: 'Mostra as Notificações de um Utilizador. Acesso: PRT.'
      tags: 
        - 'M08: Notificações'

      parameters:
        - in: path
          name: id
          description: Identificador do Utilizador
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Mostrar Notitificações do Utilizador UI'

  # marcar como lidas é ação?? nao deve estar aqui como resource
  # eliminacao é uma ação - nao deve estar incluido??

  # /users/{id}/notifications/{not_id}:

  # /users/{id}/notifications/{not}/delete:

  # /users/{id}/notifications/{not}/read:


  ###########################
  # M07 - Páginas estáticas #
  ###########################

  /home:
    get:
      operationId: R701
      summary: 'R701: Página Inicial'
      description: 'Acesso à Página Inicial. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Inicial UI'

  /about:
    get:
      operationId: R702
      summary: 'R702: Página Sobre'
      description: 'Acesso à Página Sobre. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Sobre UI'

  /faq:
    get:
      operationId: R703
      summary: 'R703: Página FAQ'
      description: 'Acesso à Página FAQ. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página FAQ UI'

  /contact:
    get:
      operationId: R704
      summary: 'R704: Página Contactos'
      description: 'Acesso à Página Contactos. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Contactos UI'


  ##################################
  # M08: Páginas de administração  # 
  ##################################

  /admin/users: 
    get:
      operationId: R801
      summary: 'R801: Catálogo de Utilizadores'
      description: 'Mostra todos os utilizadores do sitema. Acesso: ADM. \nFuncionalidades: visitar, bloquear/desbloquear, editar e eliminar utilizadores.'
      tags:
        - 'M08: Páginas de administração'
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Utilizadores UI.'
  
  /admin/ucs:
    get:
      operationId: R802
      summary: 'R802: Catálogo de Unidades Curriculares'
      description: 'Mostra todas as Unidades Curriculares do sitema. Acesso: ADM. \nFuncionalidades: criar, visitar, ver docentes associados, editar e eliminar UCs.'
      tags:
        - 'M08: Páginas de administração'
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Unidades Curriculares UI.'
  
  /admin/ucs/{id}/teachers:
    get:
      operationId: R803
      summary: 'R803: Catálogo de Docentes'
      description: 'Mostra todos os Docentes do sistema, indicando os que se encontram associados à UC específica a inspecionar. Acesso: ADM. \nFuncionalidades: visitar perfil do Docente; associar e dessaciar Docentes à UC.'
      tags:
        - 'M08: Páginas de administração'
      parameters:
        - in: path
          name: id
          description: Identificador da Unidade Curricular
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Docentes da UC UI.'

  /admin/reports:
    get:
      operationId: R804
      summary: 'R804: Catálogo de Denúncias'
      description: 'Mostra todas denúncias de intervenções recebidas. Acesso: ADM. \nFuncionalidades: visitar e eliminar intervenções.'
      tags:
        - 'M08: Páginas de administração'
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Denúncias UI.'
  

      
    
    
    
    
#---exemplo--

  /api/works:
    get:
      operationId: R202
      summary: 'R202: Search Works API'
      description: 'Searches for works and returns the results as JSON. Access: PUB.'

      tags: 
        - 'M02: Works'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: item
          description: Category of the works
          schema:
            type: string
          required: false
        - in: query
          name: loaned
          description: Boolean with the loaned flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: owner
          description: Boolean with the owner flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the work classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    obs:
                      type: string
                    year:
                      type: string
                    owner:
                      type: string
                    type:
                      type: string
                example:
                  - id: 1
                    title: Rihanna - Unapologetic
                    obs: Good pop music album.
                    year: 2012
                    owner: Joana Lima
                    type: MP3
                  - id: 15
                    title: Mr. Bean
                    obs: The best comedy movie.
                    year: 1995
                    owner: Manuel Teixeira
                    type: DVD