openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW L.EIC Q&A Web API'
  description: 'Web Resources Specification (A7) for L.EIC Q&A'

servers:
- url: http://lbaw.fe.up.pt/lbaw2185/
  description: Production server

#externalDocs:
#  description: Find more info here.
#  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
  - name: 'M01: Autenticação'             # [DONE] MISS a TODO about new-password
  - name: 'M02: Intervenções'             # [DONE] MISS api/.../report
  - name: 'M03: Pesquisa de Questões'     # [DONE]
  - name: 'M04: Unidades Curriculares'    # [DOING]
  - name: 'M05: Utilizadores'             # [DONE]
  - name: 'M06: Notificações'
  - name: 'M07: Páginas estáticas'        # [DONE]
  - name: 'M08: Páginas de administração' # [DONE]

paths:

  #########################################
  # M01: Autenticação #
  #########################################

  /login:
    get:
      operationId: R101
      summary: 'R101: Formulário de Autenticação'
      description: 'Acesso ao formulário de autenticação. Acesso: PUB'
      tags:
        - 'M01: Autenticação'
      responses:
        '200':
          description: 'Ok. Mostrar Início de sessão UI'
    post:
      operationId: R102
      summary: 'R102: Ação de Autenticação'
      description: 'Acesso à submissão do formulário de autenticação. Acesso: PUB'
      tags:
        - 'M01: Autenticação'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: 
                  type: string
                password:
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirecionar após o processamento das credenciais de autenticação.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Autenticação bem sucedida. Redirecionar para o perfil do utilizador.'
                  value: '/users/{id}'
                302Error:
                  description: 'Autenticação falhada. Redirecionar para o formulário de autenticação.'
                  value: '/login'
 
  /logout:
    get:
      operationId: R103
      summary: 'R103: Ação de Terminar Sessão'
      description: 'Terminar sessão do utilizador autenticado. Acesso: USR, ADM'
      tags:
        - 'M01: Autenticação'
      responses:
        '302':
          description: 'Redirecionar após o processo de terminar sessão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Terminar sessão bem sucedida. Redirecionar para Página Inicial'
                  value: '/'

  /register:
    get:
      operationId: R104
      summary: 'R104: Formulário de Registo'
      description: 'Acesso ao formulário de novo registo. Acesso: PUB'
      tags:
        - 'M01: Autenticação'
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Registo.'

    post:
      operationId: R105
      summary: 'R105: Ação de Registo'
      description: 'Processa a submissão de registo do novo utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                usertype:
                  type: string
                email:
                  type: string
                username:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
                name:
                  type: string
                  nullable: true
                photo:
                  type: string
                  format: binary
                  nullable: true
                about: 
                  type: string
                  nullable: true
                birthdate:
                  type: string
                  format: date-time
                  nullable: true
                entryyear:
                  type: integer
                  minimum: 1990
                  nullable: true
              required:
                - type
                - username
                - email
                - password
                - password_confirmation

              
      responses:
        '302':
          description: 'Redirecionar após processar a informação do novo utilizador.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Autenticação bem sucedida. Redirecionar para o perfil de utilizador.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Autenticação falhada. Redirecionar para o formulário de Registo.'
                  value: '/register'

  /recover:
    get:
      operationId: R106
      summary: 'R106: Formulário de Recuperação de Password'
      description: 'Acesso ao formulário de recuperação de passowrd. Acesso: PUB'
      tags:
        - 'M01: Autenticação'
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Recuperação de Password.'
    
    post:
      operationId: R107
      summary: 'R107: Ação de Recuperação de Password'
      description: 'Processa a submissão de recuperação de password de um utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        '302':
          description: 'Redirecionar após processar se o email introduzido está presente no sistema.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Email presente no sistema. Redirecionar para .'
                  value: '' # Para onde vai?????????????????
                302Failure:
                  description: 'Email ausente do sistema. Redirecionar para o formulário de Registo.'
                  value: '/registar'
  
  # TODO Isto faz sentido? Normalmente a página de recuperar password é só para escolher o email para onde vão mandar o link para recuperar a password e só a partir desse link é que se altera a password
  /users/{id}/new-password:
    get:
      operationId: R108
      summary: 'R108: Formulário de Configuração de Nova Password'
      description: 'Acesso ao formulário de configuração de nova passowrd. Acesso: OWN' # Qual seria o acesso? OWN não parece fazer sentido porque a pessoa não está logada acho eu
      tags:
        - 'M01: Autenticação'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Configuração de Nova Password.'
    
    post:
      operationId: R109
      summary: 'R109: Ação de Configuração de Nova Password'
      description: 'Processa a submissão de nova password de um utilizador. Acesso: OWN' # Idem
      tags:
        - 'M01: Autenticação'
      
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
              required:
                - password
      
      responses:
        '302':
          description: 'Redirecionar após processar se a nova password introduzida é válida.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Recuperação de Password bem sucedida. Redirecionar para o perfil de utilizador.'
                  value:  '/users/{id}'
                302Failure:
                  description: 'Recuperação de Password falhada. Redirecionar para o formulário de Configuração de Nova Password.'
                  value: '/users/{id}/new-password'

  #####################
  # M02: Intervenções #
  ##################### 

  /questions:
    get:
      operationId: R201
      summary: 'R201: Listar Questões.'
      description: 'Lista questões segundo determinados parâmetros. Acesso: PUB.'
  
      tags: 
        - M02: Intervenções'

      parameters:
        - in: query
          name: filter
          description: Filtros a ser usados na listagem.
          schema:
            type: string
          required: false
        - in: query
          name: sort
          description: Método de ordenação usado na listagem.
          schema:
            type: string
          required: false
        - in: query
          name: order
          description: Sentido da ordenação da listagem.
          schema:
            type: string
          required: false
        - in: query
          name: tags
          description: Unidades Curriculares usadas para a filtragem da listagem.
          schema:
            type: string
          required: false

  /questions/create:
    get:
      operationId: R202
      summary: 'R202: Formulário de Nova Questão'
      description: 'Acesso ao formulário de Nova Questão. Acesso: USR. \n'
      tags:
        - 'M02: Intervenções'
      responses:
        '200':
          description: 'Ok. Mostrar Nova Questão UI'
    
    post:
      operationId: R203
      summary: 'R203: Ação de criação de questão.'
      description: 'Acesso à submissão do formulário de Nova Questão. Acesso: USR'
      tags: 
        - 'M02: Intervenções'
    
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title: 
                  type: string
                text:
                  type: string
                category:
                  type: integer
              required: 
                - title
                - text
                - categoria
      responses:
        '302':
          description: 'Redirecionar após o processamento da criação da Nova Questão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão criada.'
                  value: '/questions/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o formulário de criação de Nova Questão.'
                  value: '/questions/create'

  /questions/{id}: 
    get:
      operationId: R204
      summary: 'R204: Visualizar detalhes de questão'
      description: 'Mostra o detalhe de uma questão: contéudo da questão, respostas e comentários associados. Acesso: PUB.
                    Funcionalidades: criar nova questão, votar, validar, responder, editar, denunciar, apagar (varia com o utilizador)'
      tags:
        - 'M02: Intervenções'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Mostrar a UI do detalhe de questão'
          
  /questions/{id}/edit:
    get:
      operationId: R205
      summary: 'R205: Formulário de Editar Questão'
      description: 'Acesso ao formulário de Editar Questão. Acesso: OWN'
      tags:
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Questão UI'

    post:
      operationId: R206
      summary: 'R206: Ação de Editar Questão'
      description: 'Acesso à submissão do formulário de Editar Questão. Acesso: OWN'
      tags:
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title: 
                  type: string
                text:
                  type: string
                category:
                  type: integer
              required: 
                - title
                - text
                - category
      response:
        '302':
          description: 'Redirecionar após o processamento da edição da questão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão editada.'
                  value: '/questions/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição de uma questão.'
                  value: '/questions/{id}/edit'


  /answers:
    get:
      operationId: R207
      summary: 'R207: Redirecionar para Questões.'
  
      tags: 
        - M02: Intervenções'
      responses:
        '302':
          description: Redirect to '/questions'
  
  /questions/{id}/answers/create:
    post:
      operationId: R208
      summary: 'R208: Ação de criação de resposta.'
      description: 'Ação de submissão do formulário de Nova Resposta. Acesso: USR'
      tags: 
        - M02: Intervenções'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string                
              required: 
                - text
      responses:
        '302':
          description: 'Redirecionar após o processamento da criação da nova resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão que foi respondida.'
                  value: '/questions/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o detalhe da questão que foi respondida.'
                  value: '/questions/{id}'
  
  /answers/{id}/edit:
    get:
      operationId: R209
      summary: 'R209: Formulário de Editar Resposta'
      description: 'Acesso ao formulário de Editar Resposta. Acesso: OWN'
      tags:
        - M02: Intervenções'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Resposta UI'
          
    post:
      operationId: R210
      summary: 'R210: Ação de Editar Resposta'
      description: 'Acesso à submissão do formulário de Editar Resposta. Acesso: OWN'
      tags:
        - M02: Intervenções'

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string
              required:
                - text
      responses:
        '302':
          description: 'Redirecionar após o processamento da edição da resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão respondida'
                  value: '/questions/{question_id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição de uma resposta.'
                  value: '/answers/{id}/edit'


  /comments:
    get:
      operationId: R211
      summary: 'R211: Redirecionar para Questões.'
  
      tags: 
        - M02: Intervenções'
      responses:
        '302':
          description: Redirect to '/questions'
  
  /answers/{id}/comments/create:
    post:
      operationId: R212
      summary: 'R212: Ação de criação de comentário.'
      description: 'Ação de submissão do formulário de Novo Comentário. Acesso: USR'
      tags: 
        - M02: Intervenções'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string                
              required: 
                - text
      responses:
        '302':
          description: 'Redirecionar após o processamento da criação do novo comentário.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão que foi comentada.'
                  value: '/questions/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o detalhe da questão que foi comentada.'
                  value: '/questions/{id}'
  
  /comments/{id}/edit:
    get:
      operationId: R213
      summary: 'R213: Formulário de Editar Resposta'
      description: 'Acesso ao formulário de Editar Resposta. Acesso: OWN'
      tags:
        - M02: Intervenções'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Comentário UI'
          
    post:
      operationId: R214
      summary: 'R214: Ação de Editar Comentário'
      description: 'Acesso à submissão do formulário de Editar Comentário. Acesso: OWN'
      tags:
        - M02: Intervenções'

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string
              required:
                - text
      responses:
        '302':
          description: 'Redirecionar após o processamento da edição do comentário.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão comentada'
                  value: '/questions/{question_id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário de edição de comentário.'
                  value: '/comments/{id}/edit'


  /api/interventions/{id}/delete:
    delete:
      operationId: R215
      summary: 'R215: Ação de Eliminar uma Intervenção.'
      description: 'Ação de eliminar uma intervenção. Acesso: OWN, ADM'
      tags: 
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      responses:
        '200':
          description: 'OK. Apagar intervenção.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intervention'
        '403':
          description: 'Mostrar mensagem de erro.'
        'XXX':
          description: "Redirecionar para '/'"
          
  /api/interventions/{id}/vote:
    post:
      operationId: R216
      summary: 'R216: Ação de Votar numa Intervenção.'
      description: 'Ação de votar numa intervenção. Acesso: USR - OWN'
      tags: 
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vote:
                  type: boolean
              required:
                - vote
      responses:
        '200':
          description: 'Ok. Votar na intervenção e atualizar votos na página.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intervention'
        '403':
          description: 'Mostrar mensagem de erro.'
        'XXX':
          description: Redirecionar para '/'

  /api/interventions/{id}/validate:
    post:
      operationId: R217
      summary: 'R217: Ação de Validar uma Resposta.'
      description: 'Ação de validar uma resposta. Acesso: TCH'
      tags: 
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                valid:
                  type: boolean
              required:
                - valid
      response:
        '200':
          description: 'Ok. Validar a resposta e atualizar validação na página.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  0:
                    $ref: '#/components/schemas/Intervention'
                  1:
                    type: boolean
                    nullable: true
        '403':
          description: 'Mostrar mensagem de erro.'
        'XXX':
          description: "Redirecionar para '/'"

  # TODO /api/interventions/{id}/report:

  #################################
  # M03: Pesquisa de Intervenções #
  #################################
  
  /search:
    get:
      operationId: R301
      summary: 'R301: Pesquisar Intervenções.'
      description: 'Procura por intervenções e redireciona para uma página com as questões selecionadas pela pesquisa. Acesso: PUB.'
  
      tags: 
        - 'M03: Pesquisa de Intervenções'

      parameters:
        - in: query
          name: q
          description: Palavras chave a ser usadas para pesquisa full-text
          schema:
            type: string
          required: false    


  ##############################
  # M04: Unidades Curriculares #
  ##############################

  /ucs:
    get:
      operationId: R401
      summary: 'R401: Catálogo de Unidades Curriculares.'
      description: 'Mostra todas as Unidades Curriculares do sitema. Acesso: PUB. \nFuncionalidades: visitar em detalhe uma UC, seguir uma UC.'
      tags: 
        - 'M04: Unidades Curriculares'
      responses:
        '200':
          description: 'Ok. Mostrar Página de Unidades Curriculares UI'

  /ucs/{id}:
    get:
      operationId: R402
      summary: 'R402: Detalhe de uma Unidades Curricular.'
      description: 'Mostra em detalhe uma Unidade Curricular do sitema. Acesso: USR. \nFuncionalidades: visitar o perfil de um docente seu, visitar uma das suas top questões, seguir uma UC.'
      tags: 
        - 'M04: Unidades Curriculares'
      parameters:
        - in: path
          name: id
          description: Identificador da Unidade Curricular
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Página de Detalhe de Unidade Curricular UI'

  /ucs/create:
    get:
      operationId: R403
      summary: 'R403: Formulário de criação de Unidade Curricular.'
      description: 'Acesso ao formulário de criação de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      responses:
        '200':
          description: 'Ok. Mostrar Criação de Unidade Curricular UI'
    post:
      operationId: R404
      summary: 'R404: Ação de criação de Unidade Curricular'
      description: 'Acesso à submissão de criação de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:       
                  type: string
                code:    
                  type: string
                description:       
                  type: string
              required:
                - name
                - code
                - description
      responses:
        '302':
          description: 'Redirecionar após o processamento da criação de Unidade Curricular.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação bem sucedida. Redirecionar para o Catálogo de UCs do administrador.'
                  value: '/admin/ucs'
                302Error:
                  description: 'Criação falhada. Redirecionar para o formulário de criação de uma UC.'
                  value: '/ucs/create'
      
  /ucs/{id}/edit:
    get:
      operationId: R405
      summary: 'R405: Formulário de edição de Unidade Curricular.'
      description: 'Acesso ao formulário de edição de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      parameters:
        - in: path
          name: id
          description: Identificador da Unidade Curricular
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Edição de Unidade Curricular UI'
    post:
      operationId: R406
      summary: 'R406: Ação de edição de Unidade Curricular'
      description: 'Acesso à submissão de edição de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:       
                  type: string
                code:    
                  type: string
                description:       
                  type: string
              required:
                - name
                - code
                - description
      responses:
        '302':
          description: 'Redirecionar após o processamento da edição de Unidade Curricular.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição bem sucedida. Redirecionar para o Catálogo de UCs do administrador.'
                  value: '/admin/ucs'
                302Error:
                  description: 'Edição falhada. Redirecionar para o formulário de edição da UC.'
                  value: '/ucs/{id}/edit'

  # TODO /api/ucs/{id}/delete
  # TODO /api/ucs/{uc_id}/teachers/{user_id}/add
  # TODO /api/ucs/{uc_id}/teachers/{user_id}/delete


  #####################
  # M05: Utilizadores #
  #####################

  /user:
    get:
      operationId: R501
      summary: 'R501: Redirecionar para Perfil do Utilizador.'
      description: 'Redirecionar para Perfil do Utilizador se estiver autenticado ou para a página de login caso não esteja.'
  
      tags: 
        - 'M05: Utilizadores'
      responses:
        '302':
          headers:
            Location:
              schema:
                type: string
              examples:
                302Auth:
                  description: 'Utilizador Autenticado. Redirecionar para o Perfil do Utilizador.'
                  value: '/users/{id}'
                302NotAuth:
                  description: 'Utilizador não autenticado. Redirecionar para a página de login.'
                  value: '/login'

  /users:
    get:
      operationId: R502
      summary: 'R502: Catálogo de Utilizadores.'
      description: 'Mostra todos os Utilizadores do sistema. Acesso: PUB.'
      tags: 
        - 'M05: Utilizadores'
      responses:
        '200':
          description: 'Ok. Mostrar Página de Utilizadores UI'
   
  /users/{id}:
    get:
      operationId: R503
      summary: 'R503: Visualizar Perfil de Utilizador'
      description: 'Mostra o perfil do utilizador. Acesso: USR'
      tags:
        - 'M05: Utilizadores'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Mostrar a UI do perfil de utilizador'

  /users/{id}/edit:
    get:
      operationId: R504
      summary: 'R504: Formulário de Editar Perfil do Utilizador'
      description: 'Acesso ao formulário de Editar Perfil do Utilizador. Acesso: OWN'
      tags:
        - 'M05: Utilizadores'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Perfil do Utilizador UI'
    post:
      operationId: R505
      summary: 'R505: Ação de Editar Perfil do Utilizador'
      description: 'Acesso à submissão do formulário de Editar Perfil do Utilizador. Acesso: OWN'
      tags:
        - 'M05: Utilizadores'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                username:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
                name:
                  type: string
                  nullable: true
                photo:
                  type: string
                  format: binary
                  nullable: true
                about: 
                  type: string
                  nullable: true
                birthdate:
                  type: string
                  format: date-time
                  nullable: true
                entryyear:
                  type: integer
                  minimum: 1990
                  nullable: true
              required:
                - username
                - email
                       
      response:
        '302':
          description: 'Redirecionar após o processamento da edição do Perfil do Utilizador.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o Perfil do Utilizador.'
                  value: '/users/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição do Perfil do Utilizador.'
                  value: '/users/{id}/edit'

  /api/users/{user_id}/follow/{uc_id}:
    post:
      operationId: R506
      summary: 'R506: Ação de Seguir uma Unidade Curricular'
      description: 'Ação de fazer um aluno seguir uma unidade curricular. Acesso: OWN'
      tags:
        - 'M01: Autenticação'

      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true
        - in: path
          name: uc_id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                follow:
                  type: boolean
              required:
                - follow

      response:
        '202':
          description: 'Ok. Seguir ou deixar de seguir UC e atualizar uc-card na página em concordância.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Uc'
        '403':
          description: 'Mostrar mensagem de erro.'
        'XXX':
          description: "Redirecionar para '/'"


  #####################
  # M06: Notificações #
  #####################

  /users/{id}/notifications:
    get: 
      operationId: R801
      summary: 'R801: UI de Notitificações do Utilizador.'
      description: 'Mostra as Notificações de um Utilizador. Acesso: OWN.'
      tags: 
        - 'M08: Notificações'

      parameters:
        - in: path
          name: id
          description: Identificador do Utilizador
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Mostrar Notitificações do Utilizador UI'

  # marcar como lidas é ação?? nao deve estar aqui como resource
  # eliminacao é uma ação - nao deve estar incluido??

  # /users/{id}/notifications/{not_id}:

  # /users/{id}/notifications/{not}/delete:

  # /users/{id}/notifications/{not}/read:


  ##########################
  # M07: Páginas estáticas #
  ##########################

  /home:
    get:
      operationId: R701
      summary: 'R701: Página Inicial'
      description: 'Acesso à Página Inicial. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Inicial UI'

  /about:
    get:
      operationId: R702
      summary: 'R702: Página Sobre'
      description: 'Acesso à Página Sobre. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Sobre UI'

  /faq:
    get:
      operationId: R703
      summary: 'R703: Página FAQ'
      description: 'Acesso à Página FAQ. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página FAQ UI'

  /contact:
    get:
      operationId: R704
      summary: 'R704: Página Contactos'
      description: 'Acesso à Página Contactos. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Contactos UI'


  #################################
  # M08: Páginas de administração # 
  #################################

  /admin/users: 
    get:
      operationId: R801
      summary: 'R801: Catálogo de Utilizadores'
      description: 'Mostra todos os utilizadores do sitema. Acesso: ADM. \nFuncionalidades: visitar, bloquear/desbloquear, editar e eliminar utilizadores.'
      tags:
        - 'M08: Páginas de administração'
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Utilizadores UI.'
  
  /admin/ucs:
    get:
      operationId: R802
      summary: 'R802: Catálogo de Unidades Curriculares'
      description: 'Mostra todas as Unidades Curriculares do sitema. Acesso: ADM. \nFuncionalidades: criar, visitar, ver docentes associados, editar e eliminar UCs.'
      tags:
        - 'M08: Páginas de administração'
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Unidades Curriculares UI.'
  
  /admin/ucs/{id}/teachers:
    get:
      operationId: R803
      summary: 'R803: Catálogo de Docentes'
      description: 'Mostra todos os Docentes do sistema, indicando os que se encontram associados à UC específica a inspecionar. Acesso: ADM. \nFuncionalidades: visitar perfil do Docente; associar e dessaciar Docentes à UC.'
      tags:
        - 'M08: Páginas de administração'
      parameters:
        - in: path
          name: id
          description: Identificador da Unidade Curricular
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Docentes da UC UI.'

  /admin/reports:
    get:
      operationId: R804
      summary: 'R804: Catálogo de Denúncias'
      description: 'Mostra todas denúncias de intervenções recebidas. Acesso: ADM. \nFuncionalidades: visitar e eliminar intervenções.'
      tags:
        - 'M08: Páginas de administração'
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Denúncias UI.'
  

      
    

components:
  schemas:
    Intervention:
      type: object
      properties:
        id:
          type: integer
        id_author:
          type: integer
          nullable: true
        text:
          type: string
        date:
          type: string
          format: date-time
        votes:
          type: integer
        title:
          type: string
          nullable: true
        category:
          type: integer
          nullable: true
        id_intervention:
          type: integer
          nullable: true
        type:
          type: string

    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
        username:
          type: string
        password:
          type: string
        registry_date:
          type: string
          format: date-time
        name:
          type: string
          nullable: true
        photo:
          type: string
          format: binary
          nullable: true
        about: 
          type: string
          nullable: true
        birthdate:
          type: string
          format: date-time
          nullable: true
        score: 
          type: integer
          nullable: true
        blocked:
          type: boolean
          nullable: true
        block_reason:
          type: boolean
          nullable: true
        entry_year:
          type: integer
          minimum: 0
          nullable: true
        type:
          type: string
      required:
        - type
        - username
        - email
        - password

    Uc:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        code:
          type: string
        description:
          type: string

    
#---exemplo--

  /api/works:
    get:
      operationId: R202
      summary: 'R202: Search Works API'
      description: 'Searches for works and returns the results as JSON. Access: PUB.'

      tags: 
        - 'M02: Works'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: item
          description: Category of the works
          schema:
            type: string
          required: false
        - in: query
          name: loaned
          description: Boolean with the loaned flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: owner
          description: Boolean with the owner flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the work classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    obs:
                      type: string
                    year:
                      type: string
                    owner:
                      type: string
                    type:
                      type: string
                example:
                  - id: 1
                    title: Rihanna - Unapologetic
                    obs: Good pop music album.
                    year: 2012
                    owner: Joana Lima
                    type: MP3
                  - id: 15
                    title: Mr. Bean
                    obs: The best comedy movie.
                    year: 1995
                    owner: Manuel Teixeira
                    type: DVD