openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW L.EIC Q&A Web API'
  description: 'Web Resources Specification (A7) for L.EIC Q&A'

servers:
- url: http://lbaw2185.lbaw.fe.up.pt/
  description: Production server

tags:
  - name: 'M01: Autenticação'             
  - name: 'M02: Intervenções'             
  - name: 'M03: Pesquisa de Questões'     
  - name: 'M04: Unidades Curriculares'    
  - name: 'M05: Utilizadores'             
  - name: 'M06: Notificações'
  - name: 'M07: Páginas estáticas'        
  - name: 'M08: Páginas de administração' 

paths:

  #####################
  # M01: Autenticação #
  #####################

  /login:
    get:
      operationId: R101
      summary: 'R101: Formulário de Autenticação'
      description: 'Acesso ao formulário de autenticação. Acesso: PUB'
      tags:
        - 'M01: Autenticação'
      responses:
        '200':
          description: 'Ok. Mostrar Início de sessão UI'
    post:
      operationId: R102
      summary: 'R102: Ação de Autenticação'
      description: 'Acesso à submissão do formulário de autenticação. Acesso: PUB'
      tags:
        - 'M01: Autenticação'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: 
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirecionar após o processamento das credenciais de autenticação.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Autenticação bem sucedida. Redirecionar para o perfil do utilizador.'
                  value: '/users/{id}'
                302Error:
                  description: 'Autenticação falhada. Redirecionar para o formulário de autenticação.'
                  value: '/login'
 
  /logout:
    get:
      operationId: R103
      summary: 'R103: Ação de Terminar Sessão'
      description: 'Terminar sessão do utilizador autenticado. Acesso: USR, ADM'
      tags:
        - 'M01: Autenticação'
      responses:
        '302':
          description: 'Redirecionar após o processo de terminar sessão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Terminar sessão bem sucedida. Redirecionar para Página Inicial UI'
                  value: '/'

  /register:
    get:
      operationId: R104
      summary: 'R104: Formulário de Registo'
      description: 'Acesso ao formulário de novo registo. Acesso: PUB'
      tags:
        - 'M01: Autenticação'
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Registo UI.'
    post:
      operationId: R105
      summary: 'R105: Ação de Registo'
      description: 'Processa a submissão de registo do novo utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                usertype:
                  type: string
                email:
                  type: string
                username:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
                name:
                  type: string
                  nullable: true
                photo:
                  type: string
                  format: binary
                  nullable: true
                about: 
                  type: string
                  nullable: true
                birthdate:
                  type: string
                  format: date-time
                  nullable: true
                entryyear:
                  type: integer
                  minimum: 1990
                  nullable: true
              required:
                - type
                - username
                - email
                - password
                - password_confirmation

              
      responses:
        '302':
          description: 'Redirecionar após processar a informação do novo utilizador.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Autenticação bem sucedida. Redirecionar para o perfil de utilizador.'
                  value: '/users/{id}'
                302Error:
                  description: 'Autenticação falhada. Redirecionar para o formulário de Registo.'
                  value: '/register'

  /forgot-password:
    get:
      operationId: R106
      summary: 'R106: Formulário de Recuperação de Password'
      description: 'Acesso ao formulário de recuperação de passowrd. Acesso: PUB'
      tags:
        - 'M01: Autenticação'
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Recuperação de Password UI.'
    
    post:
      operationId: R107
      summary: 'R107: Ação de Recuperação de Password'
      description: 'Processa a submissão de recuperação de password de um utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        '302':
          description: 'Redirecionar após processar se o email introduzido está presente no sistema.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Email presente no sistema. Redirecionar para a Página de Login.'
                  value: '/login' 
                302Error:
                  description: 'Email ausente do sistema. Redirecionar para a Página de Registo.'
                  value: '/register'
  
  /reset-password:
    post:
      operationId: R108
      summary: 'R108: Ação de Configuração de Nova Password'
      description: 'Processa a submissão de nova password de um utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação'
      
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
              required:
                - password
      
      responses:
        '302':
          description: 'Redirecionar após processar se a nova password introduzida é válida.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Recuperação de Password bem sucedida. Redirecionar para a Página de Login.'
                  value:  '/login'
                302Error:
                  description: 'Recuperação de Password falhada. Redirecionar para a Página Inicial.'
                  value: '/'

  /reset-password/{token}:
    get:
      operationId: R109
      summary: 'R109: Formulário de Configuração de Nova Password'
      description: 'Acesso ao formulário de configuração de nova passowrd. Acesso: PUB'
      tags:
        - 'M01: Autenticação'
      parameters:
        - in: path
          name: id
          description: Identificador do Utilizador
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Configuração de Nova Password UI.'

  
  #####################
  # M02: Intervenções #
  ##################### 

  /questions:
    get:
      operationId: R201
      summary: 'R201: Vista de Questões'
      description: 'Lista questões segundo determinados parâmetros. Acesso: PUB.'
      tags: 
        - 'M02: Intervenções'
      parameters:
        - in: query
          name: filter
          description: Filtros a ser usados na listagem.
          schema:
            type: string
          required: false
        - in: query
          name: sort
          description: Método de ordenação usado na listagem.
          schema:
            type: string
          required: false
        - in: query
          name: order
          description: Sentido da ordenação da listagem.
          schema:
            type: string
          required: false
        - in: query
          name: tags
          description: Unidades Curriculares usadas para a filtragem da listagem.
          schema:
            type: string
          required: false
      responses:
        '200':
          description: 'Ok. Mostrar Página de Questões UI.'

  /questions/create:
    get:
      operationId: R202
      summary: 'R202: Formulário de Criação de Questão'
      description: 'Acesso ao formulário de criação de Questão. Acesso: USR.'
      tags:
        - 'M02: Intervenções'
      responses:
        '200':
          description: 'Ok. Mostrar Criação Questão UI'
    post:
      operationId: R203
      summary: 'R203: Ação de Criação de Questão.'
      description: 'Acesso à submissão do formulário de Criação Questão. Acesso: USR'
      tags: 
        - 'M02: Intervenções'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title: 
                  type: string
                text:
                  type: string
                category:
                  type: integer
              required: 
                - title
                - text
                - categoria
      responses:
        '302':
          description: 'Redirecionar após o processamento da criação da Nova Questão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão criada.'
                  value: '/questions/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o formulário de criação de Nova Questão.'
                  value: '/questions/create'

  /questions/{id}: 
    get:
      operationId: R204
      summary: 'R204: Vista de Detalhe de Questão'
      description: 'Mostra o detalhe de uma questão: contéudo da questão, respostas e comentários associados. Acesso: PUB.
                    Funcionalidades: criar nova questão, votar, validar, responder, editar, denunciar, apagar (varia com o utilizador)'
      tags:
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          description: Identificador da Intervenção
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Detalhe de Questão UI'
          
  /questions/{id}/edit:
    get:
      operationId: R205
      summary: 'R205: Formulário de Editar Questão'
      description: 'Acesso ao formulário de Editar Questão. Acesso: OWN'
      tags:
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          description: Identificador da Intervenção
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Questão UI'
    post:
      operationId: R206
      summary: 'R206: Ação de Edição de Questão'
      description: 'Acesso à submissão do formulário de Editar Questão. Acesso: OWN'
      tags:
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title: 
                  type: string
                text:
                  type: string
                category:
                  type: integer
              required: 
                - title
                - text
                - category
      responses:
        '302':
          description: 'Redirecionar após o processamento da edição da questão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão editada.'
                  value: '/questions/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição de uma questão.'
                  value: '/questions/{id}/edit'


  /answers:
    get:
      operationId: R207
      summary: 'R207: Redirecionamento para Questões.'
      description: 'Redirecionar para Questões. Acesso: PUB'
      tags: 
        - 'M02: Intervenções'
      responses:
        '302':
          description: Redirect to '/questions'
  
  /questions/{id}/answers/create:
    post:
      operationId: R208
      summary: 'R208: Ação de Criação de Resposta'
      description: 'Ação de submissão do formulário de Nova Resposta. Acesso: USR'
      tags: 
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          description: Identificador da Intervenção
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string                
              required: 
                - text
      responses:
        '302':
          description: 'Redirecionar após o processamento da criação da nova resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão que foi respondida.'
                  value: '/questions/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o detalhe da questão que foi respondida.'
                  value: '/questions/{id}'
  
  /answers/{id}/edit:
    get:
      operationId: R209
      summary: 'R209: Formulário de Edição de Resposta'
      description: 'Acesso ao formulário de Editar Resposta. Acesso: OWN'
      tags:
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          description: Identificador da Intervenção
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Resposta UI'  
    post:
      operationId: R210
      summary: 'R210: Ação de Edição de Resposta'
      description: 'Acesso à submissão do formulário de Editar Resposta. Acesso: OWN'
      tags:
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string
              required:
                - text
      responses:
        '302':
          description: 'Redirecionar após o processamento da edição da resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão respondida'
                  value: '/questions/{question_id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição de uma resposta.'
                  value: '/answers/{id}/edit'


  /comments:
    get:
      operationId: R211
      summary: 'R211: Redirecionamento para Questões.'
      description: 'Redirecionar para Questões. Acesso: PUB'
      tags: 
        - 'M02: Intervenções'
      responses:
        '302':
          description: Redirect to '/questions'
  
  /answers/{id}/comments/create:
    post:
      operationId: R212
      summary: 'R212: Ação de Criação de Comentário'
      description: 'Ação de submissão do formulário de Novo Comentário. Acesso: USR'
      tags: 
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          description: Identificador da Intervenção
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string                
              required: 
                - text
      responses:
        '302':
          description: 'Redirecionar após o processamento da criação do novo comentário.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão que foi comentada.'
                  value: '/questions/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o detalhe da questão que foi comentada.'
                  value: '/questions/{id}'
  
  /comments/{id}/edit:
    get:
      operationId: R213
      summary: 'R213: Formulário de Edição de Comentário'
      description: 'Acesso ao formulário de Editar Comentário. Acesso: OWN'
      tags:
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          description: Identificador da Intervenção
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Comentário UI'
    post:
      operationId: R214
      summary: 'R214: Ação de Editar Comentário'
      description: 'Acesso à submissão do formulário de Editar Comentário. Acesso: OWN'
      tags:
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string
              required:
                - text
      responses:
        '302':
          description: 'Redirecionar após o processamento da edição do comentário.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão da resposta comentada'
                  value: '/questions/{question_id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário de edição de comentário.'
                  value: '/comments/{id}/edit'


  /api/interventions/{id}/delete:
    delete:
      operationId: R215
      summary: 'R215: Ação de Eliminação de Intervenção.'
      description: 'Ação de eliminar uma intervenção. Acesso: OWN, ADM'
      tags: 
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          description: Identificador da Intervenção
          required: true
          schema:
            type: integer   
      responses:
        '200':
          description: 'OK. Apagar intervenção.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intervention'
        '403':
          description: 'Mostrar mensagem de erro.'
        'XXX':
          description: "Redirecionar para '/'"
          
  /api/interventions/{id}/vote:
    post:
      operationId: R216
      summary: 'R216: Ação de Votação em Intervenção.'
      description: 'Ação de votar numa intervenção. Acesso: USR - OWN'
      tags: 
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          description: Identificador da Intervenção
          required: true
          schema:
            type: integer   
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vote:
                  type: boolean
              required:
                - vote
      responses:
        '200':
          description: 'Ok. Votar na intervenção e atualizar votos na página.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intervention'
        '403':
          description: 'Mostrar mensagem de erro.'
        'XXX':
          description: Redirecionar para '/'

  /api/interventions/{id}/validate:
    post:
      operationId: R217
      summary: 'R217: Ação de Validação de Resposta.'
      description: 'Ação de validar uma resposta. Acesso: TCH'
      tags: 
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          description: Identificador da Intervenção
          required: true
          schema:
            type: integer   
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                valid:
                  type: boolean
              required:
                - valid
      responses:
        '200':
          description: 'Ok. Validar a resposta e atualizar validação na página.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  0:
                    $ref: '#/components/schemas/Intervention'
                  1:
                    type: boolean
                    nullable: true
        '403':
          description: 'Mostrar mensagem de erro.'
        'XXX':
          description: "Redirecionar para '/'"

  /api/interventions/{id}/report:
    post:
      operationId: R218
      summary: 'R218: Ação de Reportar uma Intervenção.'
      description: 'Ação de reportar uma intervenção. Acesso: USR'
      tags: 
        - 'M02: Intervenções'
      parameters:
        - in: path
          name: id
          description: Identificador da Intervenção
          schema:
            type: integer   
          required: true
      responses:
        '200':
          description: 'OK. Reportar a intervenção.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intervention'
        '403':
          description: 'Mostrar mensagem de erro.'
        'XXX':
          description: "Redirecionar para '/'"


  #############################
  # M03: Pesquisa de Questões #
  #############################
  
  /search:
    get:
      operationId: R301
      summary: 'R301: Pesquisa de Intervenções.'
      description: 'Procura por intervenções e redireciona para uma página com as questões selecionadas pela pesquisa. Acesso: PUB.'
      tags: 
        - 'M03: Pesquisa de Questões'
      parameters:
        - in: query
          name: q
          description: Palavras chave a ser usadas para pesquisa full-text
          schema:
            type: string
          required: false    
      responses:
        '200':
          description: 'Ok. Mostrar Página Questões UI com os resultados da pesquisa'


  ##############################
  # M04: Unidades Curriculares #
  ##############################

  /ucs:
    get:
      operationId: R401
      summary: 'R401: Vista de Unidades Curriculares.'
      description: 'Mostra todas as Unidades Curriculares do sitema. Acesso: PUB.
                    Funcionalidades: visitar em detalhe uma UC, seguir uma UC.'
      tags: 
        - 'M04: Unidades Curriculares'
      responses:
        '200':
          description: 'Ok. Mostrar Página de Unidades Curriculares UI'

  /ucs/{id}:
    get:
      operationId: R402
      summary: 'R402: Vista de Detalhe de uma Unidades Curricular.'
      description: 'Mostra em detalhe uma Unidade Curricular do sitema. Acesso: USR.
                    Funcionalidades: visitar o perfil de um docente seu, visitar uma das suas top questões, seguir uma UC.'
      tags: 
        - 'M04: Unidades Curriculares'
      parameters:
        - in: path
          name: id
          description: Identificador da Unidade Curricular
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Página de Detalhe de Unidade Curricular UI'

  /ucs/create:
    get:
      operationId: R403
      summary: 'R403: Formulário de Criação de Unidade Curricular.'
      description: 'Acesso ao formulário de criação de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      responses:
        '200':
          description: 'Ok. Mostrar Criação de Unidade Curricular UI'
    post:
      operationId: R404
      summary: 'R404: Ação de Criação de Unidade Curricular'
      description: 'Acesso à submissão de criação de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:       
                  type: string
                code:    
                  type: string
                description:       
                  type: string
              required:
                - name
                - code
                - description
      responses:
        '302':
          description: 'Redirecionar após o processamento da criação de Unidade Curricular.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação bem sucedida. Redirecionar para o Catálogo de UCs do administrador.'
                  value: '/admin/ucs'
                302Error:
                  description: 'Criação falhada. Redirecionar para o formulário de criação de uma UC.'
                  value: '/ucs/create'
      
  /ucs/{id}/edit:
    get:
      operationId: R405
      summary: 'R405: Formulário de Edição de Unidade Curricular.'
      description: 'Acesso ao formulário de edição de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      parameters:
        - in: path
          name: id
          description: Identificador da Unidade Curricular
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Edição de Unidade Curricular UI'
    post:
      operationId: R406
      summary: 'R406: Ação de Edição de Unidade Curricular'
      description: 'Acesso à submissão de edição de Unidade Curricular. Acesso: ADM.'
      tags: 
        - 'M04: Unidades Curriculares'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:       
                  type: string
                code:    
                  type: string
                description:       
                  type: string
              required:
                - name
                - code
                - description
      responses:
        '302':
          description: 'Redirecionar após o processamento da edição de Unidade Curricular.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição bem sucedida. Redirecionar para o Catálogo de UCs do administrador.'
                  value: '/admin/ucs'
                302Error:
                  description: 'Edição falhada. Redirecionar para o formulário de edição da UC.'
                  value: '/ucs/{id}/edit'

  /api/ucs/{id}/delete:
    delete:
      operationId: R407
      summary: 'R407: Ação de Eliminação de Unidade Curricular.'
      description: 'Ação de eliminar uma unidade curricular. Acesso: ADM'
      tags: 
        - 'M04: Unidades Curriculares'
      parameters:
        - in: path
          name: id
          description: Identificador da Unidade Curricular
          schema:
            type: integer 
          required: true  
      responses:
        '200':
          description: 'OK. Apagar unidade curricular.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Uc'
        'XXX':
          description: "Redirecionar para '/'"
          
  /api/ucs/{uc_id}/teachers/{user_id}/add:
    put:
      operationId: R408
      summary: 'R408: Ação de Adicionar a uma Unidade Curricular um Docente.'
      description: 'Ação de adicionar a uma unidade curricular um docente. Acesso: ADM'
      tags: 
        - 'M04: Unidades Curriculares'
      parameters:
        - in: path
          name: uc_id
          description: Identificador da Unidade Curricular
          schema:
            type: integer 
          required: true  
        - in: path
          name: user_id
          description: Identificador do Utilizador 'Docente'
          schema:
            type: integer 
          required: true  
      responses:
        '200':
          description: 'OK. Adicionar à unidade corricular o docente e atualizar essa informação na página.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Uc'
        'XXX':
          description: "Redirecionar para '/'"
          
  /api/ucs/{uc_id}/teachers/{user_id}/remove:
    delete:
      operationId: R409
      summary: 'R409: Ação de Remover de uma Unidade Curricular um Docente.'
      description: 'Ação de remover de uma unidade curricular um docente. Acesso: ADM'
      tags: 
        - 'M04: Unidades Curriculares'
      parameters:
        - in: path
          name: uc_id
          description: Identificador da Unidade Curricular
          schema:
            type: integer 
          required: true  
        - in: path
          name: user_id
          description: Identificador do Utilizador 'Docente'
          schema:
            type: integer 
          required: true  
      responses:
        '200':
          description: 'OK. Remover da unidade corricular o docente e atualizar essa informação na página.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Uc'
        'XXX':
          description: "Redirecionar para '/'"


  #####################
  # M05: Utilizadores #
  #####################

  /user:
    get:
      operationId: R501
      summary: 'R501: Redirecionamento para Perfil do Utilizador.'
      description: 'Redirecionar para Perfil do Utilizador se estiver autenticado ou para a página de login caso não esteja. Acesso: PUB'
      tags: 
        - 'M05: Utilizadores'
      responses:
        '302':
          headers:
            Location:
              schema:
                type: string
              examples:
                302Auth:
                  description: 'Utilizador Autenticado. Redirecionar para o Perfil do Utilizador.'
                  value: '/users/{id}'
                302NotAuth:
                  description: 'Utilizador não autenticado. Redirecionar para a página de login.'
                  value: '/login'

  /users:
    get:
      operationId: R502
      summary: 'R502: Vista de Utilizadores'
      description: 'Mostra todos os Utilizadores do sistema. Acesso: PUB.'
      tags: 
        - 'M05: Utilizadores'
      responses:
        '200':
          description: 'Ok. Mostrar Página de Utilizadores UI'
   
  /users/{id}:
    get:
      operationId: R503
      summary: 'R503: Vista do Perfil de Utilizador'
      description: 'Mostra o perfil do utilizador. Acesso: USR'
      tags:
        - 'M05: Utilizadores'
      parameters:
        - in: path
          name: id
          description: Identificador do Utilizador
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar a UI do perfil de utilizador'

  /users/{id}/edit:
    get:
      operationId: R504
      summary: 'R504: Formulário de Edição Perfil do Utilizador'
      description: 'Acesso ao formulário de Editar Perfil do Utilizador. Acesso: OWN'
      tags:
        - 'M05: Utilizadores'
      parameters:
        - in: path
          name: id
          description: Identificador do Utilizador
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Perfil do Utilizador UI'
    post:
      operationId: R505
      summary: 'R505: Ação de Edição Perfil do Utilizador'
      description: 'Acesso à submissão do formulário de Editar Perfil do Utilizador. Acesso: OWN'
      tags:
        - 'M05: Utilizadores'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                username:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
                name:
                  type: string
                  nullable: true
                photo:
                  type: string
                  format: binary
                  nullable: true
                about: 
                  type: string
                  nullable: true
                birthdate:
                  type: string
                  format: date-time
                  nullable: true
                entryyear:
                  type: integer
                  minimum: 1990
                  nullable: true
              required:
                - username
                - email          
      responses:
        '302':
          description: 'Redirecionar após o processamento da edição do Perfil do Utilizador.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o Perfil do Utilizador.'
                  value: '/users/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição do Perfil do Utilizador.'
                  value: '/users/{id}/edit'

  /users/{id}/delete:
    get:
      operationId: R506
      summary: 'R506: Ação de Eliminição de um Utilizador'
      description: 'Ação de Eliminar um Utilizador. Acesso: OWN, ADM'
      tags:
        - 'M05: Utilizadores'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: Redirecionar para '/admin/users' ou /home

  /api/users/{user_id}/follow/{uc_id}:
    post:
      operationId: R507
      summary: 'R507: Ação de Seguir uma Unidade Curricular'
      description: 'Ação de fazer um aluno seguir uma unidade curricular. Acesso: OWN'
      tags:
        - 'M05: Utilizadores'
      parameters:
        - in: path
          name: user_id
          description: Identificador do Utilizador
          schema:
            type: integer
          required: true
        - in: path
          name: uc_id
          description: Identificador da Unidade Curricular
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                follow:
                  type: boolean
              required:
                - follow
      responses:
        '200':
          description: 'Ok. Seguir ou deixar de seguir UC e atualizar uc-card na página em concordância.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Uc'
        '403':
          description: 'Mostrar mensagem de erro.'
        'XXX':
          description: "Redirecionar para '/'"

  /api/users/{id}/block:
    post:
      operationId: R508
      summary: 'R508: Ação de Bloqueio e Desbloqueio de um Utilizador'
      description: 'Ação de bloquear e desbloquear um utilizador. Acesso: ADM'
      tags:
        - 'M05: Utilizadores'
      parameters:
        - in: path
          name: id
          description: Identificador do Utilizador
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                block_reason:
                  type: string
              required:
                - block_reason
      responses:
        '200':
          description: 'Ok. Bloquear ou desbloquear um Utilizador e atualizar a sua secção na página.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        'XXX':
          description: "Redirecionar para '/'"

  /api/users/{id}/delete:
    delete:
      operationId: R509
      summary: 'R509: Ação de Eliminição de um Utilizador'
      description: 'Ação de eliminar um Utilizador. Acesso: ADM'
      tags: 
        - 'M05: Utilizadores'
      parameters:
        - in: path
          name: id
          description: Identificador do Utilizador
          schema:
            type: integer 
          required: true  
      responses:
        '200':
          description: 'OK. Apagar utilizador.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        'XXX':
          description: "Redirecionar para '/'"


  #####################
  # M06: Notificações #
  #####################

  /notifications:
    get:
      operationId: R801
      summary: 'R801: Catálogo de Notificações.'
      description: 'Mostra todas as Notificações do Utilizador autenticado. Acesso: OWN.
                    Funcionalidades: visitar a intervenção e utilizador associado a uma notificação; marcar como lida e eliminar uma notificação.'
      tags: 
        - 'M06: Notificações'
      responses:
        '200':
          description: 'Ok. Mostrar Página de Notificações UI'

  /notifications/{id}:
    get:
      operationId: R802
      summary: 'R802: Detalhe de uma Notificação.'
      description: 'Mostra em detalhe uma Notificação do Utilizador autenticado. Acesso: OWN.
                    Funcionalidades: visitar a intervenção e utilizador associado à notificação; marcar como lida e eliminar a notificação.'
      tags: 
        - 'M06: Notificações'
      parameters:
        - in: path
          name: id
          description: Identificador da Notificação
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Página de Detalhe de Notificação UI'

  /api/notifications/{id}/read:
    post:
      operationId: R803
      summary: 'R803: Ação de Ler uma Notificação.'
      description: 'Ação de ler uma Notificação. Acesso: OWN'
      tags: 
        - 'M06: Notificações'
      parameters:
        - in: path
          name: id
          description: Identificador da Notificação
          required: true
          schema:
            type: integer   
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                read:
                  type: boolean
              required:
                - read
      responses:
        '200':
          description: 'Ok. Ler a Notificação e atualizar essa informação na página.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '403':
          description: 'Mostrar mensagem de erro.'
        'XXX':
          description: Redirecionar para '/'

  /api/notifications/{id}/delete:
    delete:
      operationId: R804
      summary: 'R804: Ação de Eliminar uma Notificação.'
      description: 'Ação de eliminar uma notificação. Acesso: OWN'
      tags: 
        - 'M06: Notificações'
      parameters:
        - in: path
          name: id
          description: Identificador da Notificação
          schema:
            type: integer 
          required: true  
      responses:
        '200':
          description: 'OK. Apagar notificação.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        'XXX':
          description: "Redirecionar para '/'"


  ##########################
  # M07: Páginas estáticas #
  ##########################

  /home:
    get:
      operationId: R701
      summary: 'R701: Página Inicial'
      description: 'Acesso à Página Inicial. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Inicial UI'

  /about:
    get:
      operationId: R702
      summary: 'R702: Página Sobre'
      description: 'Acesso à Página Sobre. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Sobre UI'

  /faq:
    get:
      operationId: R703
      summary: 'R703: Página FAQ'
      description: 'Acesso à Página FAQ. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página FAQ UI'

  /contact:
    get:
      operationId: R704
      summary: 'R704: Página Contactos'
      description: 'Acesso à Página Contactos. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Contactos UI'


  #################################
  # M08: Páginas de administração # 
  #################################

  /admin:
    get:
      operationId: R801
      summary: 'R801: Redirecionamento para Perfil do Utilizador.'
      description: 'Redirecionar para Perfil do Utilizador se estiver autenticado ou para a página de login caso não esteja. Acesso: PUB'
      tags: 
        - 'M08: Páginas de administração'
      responses:
        '302':
          headers:
            Location:
              schema:
                type: string
              examples:
                302Auth:
                  description: 'Utilizador Autenticado. Redirecionar para o Perfil do Utilizador.'
                  value: '/users/{id}'
                302NotAuth:
                  description: 'Utilizador não autenticado. Redirecionar para a página de login.'
                  value: '/login'

  /admin/ucs/{id}:
    get:
      operationId: R802
      summary: 'R802: Redirecionamento para Detalhe de uma Unidade Curricular.'
      description: 'Redirecionar para Detalhe de uma Unidade Curricular. Acesso: PUB'
      tags: 
        - 'M08: Páginas de administração'
      parameters:
        - in: path
          name: id
          description: Identificador da Unidade Curricular
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: Redirecionar para '/ucs/{id}'

  /admin/users: 
    get:
      operationId: R803
      summary: 'R803: Catálogo de Utilizadores'
      description: 'Mostra todos os utilizadores do sitema. Acesso: ADM.
                    Funcionalidades: visitar, bloquear/desbloquear, editar e eliminar utilizadores.'
      tags:
        - 'M08: Páginas de administração'
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Utilizadores UI.'
  
  /admin/ucs:
    get:
      operationId: R804
      summary: 'R804: Catálogo de Unidades Curriculares'
      description: 'Mostra todas as Unidades Curriculares do sitema. Acesso: ADM.
                    Funcionalidades: criar, visitar, ver docentes associados, editar e eliminar UCs.'
      tags:
        - 'M08: Páginas de administração'
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Unidades Curriculares UI.'
  
  /admin/ucs/{id}/teachers:
    get:
      operationId: R805
      summary: 'R805: Catálogo de Docentes'
      description: 'Mostra todos os Docentes do sistema, indicando os que se encontram associados à UC específica a inspecionar. Acesso: ADM.
                    Funcionalidades: visitar perfil do Docente; associar e dessaciar Docentes à UC.'
      tags:
        - 'M08: Páginas de administração'
      parameters:
        - in: path
          name: id
          description: Identificador da Unidade Curricular
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Docentes da UC UI.'

  /admin/reports:
    get:
      operationId: R806
      summary: 'R806: Catálogo de Denúncias'
      description: 'Mostra todas denúncias de intervenções recebidas. Acesso: ADM. 
                    Funcionalidades: visitar e eliminar intervenções.'
      tags:
        - 'M08: Páginas de administração'
      responses:
        '200':
          description: 'OK. Mostrar Página do Administrador de Denúncias UI.'
  

###############
# Componentes # 
###############         

components:
  schemas:
    Intervention:
      type: object
      properties:
        id:
          type: integer
        id_author:
          type: integer
          nullable: true
        text:
          type: string
        date:
          type: string
          format: date-time
        votes:
          type: integer
        title:
          type: string
          nullable: true
        category:
          type: integer
          nullable: true
        id_intervention:
          type: integer
          nullable: true
        type:
          type: string

    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
        username:
          type: string
        password:
          type: string
        registry_date:
          type: string
          format: date-time
        name:
          type: string
          nullable: true
        photo:
          type: string
          format: binary
          nullable: true
        about: 
          type: string
          nullable: true
        birthdate:
          type: string
          format: date-time
          nullable: true
        score: 
          type: integer
          nullable: true
        blocked:
          type: boolean
          nullable: true
        block_reason:
          type: boolean
          nullable: true
        entry_year:
          type: integer
          minimum: 0
          nullable: true
        type:
          type: string
      required:
        - type
        - username
        - email
        - password

    Uc:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        code:
          type: string
        description:
          type: string

    Notification:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        id_intervention:
          type: integer
          nullable: true
        status:
          type: string
          nullable: true
        validation:
          type: string
          nullable: true
        type:
          type: string
