openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW L.EIC Q&A Web API'
  description: 'Web Resources Specification (A7) for L.EIC Q&A'

servers:
- url: http://lbaw.fe.up.pt/lbaw2185/
  description: Production server

#externalDocs:
#  description: Find more info here.
#  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
  - name: 'M01: Autenticação e Perfil Individual'
  - name: 'M02: Questões'
  - name: 'M03: Respostas'
  - name: 'M04: Comentários'
  - name: 'M05: Pesquisa de Intervenções'
  - name: 'M06: Pesquisa de Unidades Curriculares'
  - name: 'M07: Pesquisa de Utilizadores'
  - name: 'M08: Notificações'
  - name: 'M09: Páginas estáticas'
  - name: 'M10: Páginas de administração'

paths:

  #########################################
  # M01: Autenticação e Perfil Individual #
  #########################################

  /login:
    get:
      operationId: R101
      summary: 'R101: Formulário de Autenticação'
      description: 'Acesso ao formulário de autenticação. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'
      responses:
        '200':
          description: 'Ok. Mostrar Início de sessão UI'
    post:
      operationId: R102
      summary: 'R102: Ação de Autenticação'
      description: 'Acesso à submissão do formulário de autenticação. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:       # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirecionar após o processamento das credenciais de autenticação.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Autenticação bem sucedida. Redirecionar para o perfil do utilizador.'
                  value: '/users/{id}'
                302Error:
                  description: 'Autenticação falhada. Redirecionar para o formulário de autenticação.'
                  value: '/login'
 
  /logout:
    post:
      operationId: R103
      summary: 'R103: Ação de Terminar Sessão'
      description: 'Terminar sessão do utilizador autenticado. Acesso: USR, ADM'
      tags:
        - 'M01: Autenticação e Perfil Individual'
      responses:
        '302':
          description: 'Redirecionar após o processo de terminar sessão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Terminar sessão bem sucedida. Redirecionar para o formulário de inicio de sessão'
                  value: '/login'

  /registar:
    get:
      operationId: R104
      summary: 'R104: Formulário de Registo'
      description: 'Acesso ao formulário de novo registo. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Registo.'

    post:
      operationId: R105
      summary: 'R105: Ação de Registo'
      description: 'Processa a submissão de registo do novo utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                username:
                  type: string
                password:
                  type: string
                nome:
                  type: string
                sobre: 
                  type: string
                data_nascimento:
                  type: string
                  format: date-time
                ano_ingresso:
                  type: integer
                  minimum: 0
                foto_perfil:
                  type: string
                  format: binary
              required:
                - username
                - email
                - password

      responses:
        '302':
          description: 'Redirecionar após processar a informação do novo utilizador.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Autenticação bem sucedida. Redirecionar para o perfil de utilizador.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Autenticação falhada. Redirecionar para o formulário de Registo.'
                  value: '/registar'

  # M01: recuperação de password  
  /recuperar-password:
    get:
      operationId: R106
      summary: 'R106: Formulário de Recuperação de Password'
      description: 'Acesso ao formulário de recuperação de passowrd. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Recuperação de Password.'
    
    post:
      operationId: R107
      summary: 'R107: Ação de Recuperação de Password'
      description: 'Processa a submissão de recuperação de password de um utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil Individual'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        '302':
          description: 'Redirecionar após processar se o email introduzido está presente no sistema.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Email presente no sistema. Redirecionar para .'
                  value: '' # Para onde vai?????????????????
                302Failure:
                  description: 'Email ausente do sistema. Redirecionar para o formulário de Registo.'
                  value: '/registar'
  
  # Isto faz sentido? Normalmente a página de recuperar password é só para escolher o email para onde vão mandar o link para recuperar a password e só a partir desse link é que se altera a password
  /user/{id}/nova-password:
    get:
      operationId: R108
      summary: 'R108: Formulário de Configuração de Nova Password'
      description: 'Acesso ao formulário de configuração de nova passowrd. Acesso: PRT' # Qual seria o acesso? PRT não parece fazer sentido porque a pessoa não está logada acho eu
      tags:
        - 'M01: Autenticação e Perfil Individual'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Ok. Mostrar Formulário de Configuração de Nova Password.'
    
    post:
      operationId: R109
      summary: 'R109: Ação de Configuração de Nova Password'
      description: 'Processa a submissão de nova password de um utilizador. Acesso: PRT' # Idem
      tags:
        - 'M01: Autenticação e Perfil Individual'
      
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
              required:
                - password
      
      responses:
        '302':
          description: 'Redirecionar após processar se a nova password introduzida é válida.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Recuperação de Password bem sucedida. Redirecionar para o perfil de utilizador.'
                  value:  '/users/{id}'
                302Failure:
                  description: 'Recuperação de Password falhada. Redirecionar para o formulário de Configuração de Nova Password.'
                  value: '/user/{id}/nova-password'


  /users/{id}:
    get:
      operationId: R110
      summary: 'R110: Visualizar perfil de utilizador'
      description: 'Mostra o perfil do utilizador. Acesso: USR'
      tags:
        - 'M01: Autenticação e Perfil Individual'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Mostrar a UI do perfil de utilizador'

  /users/{id}/editar:
    get:
      operationId: R111
      summary: 'R11:  Formulário de Editar Perfil do Utilizador'
      description: 'Acesso ao formulário de Editar Perfil do Utilizador. Acesso: PRT'
      tags:
        - 'M01: Autenticação e Perfil Individual'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Perfil do Utilizador UI'
    post:
      operationId: R112
      summary: 'R112: Ação de Editar Perfil do Utilizador'
      description: 'Acesso à submissão do formulário de Editar Perfil do Utilizador. Acesso: PRT'
      tags:
        - 'M01: Autenticação e Perfil Individual'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
                nome:
                  type: string
                sobre: 
                  type: string
                data_nascimento:
                  type: string
                  format: date-time
                ano_ingresso:
                  type: integer
                  minimum: 0
                foto_perfil:
                  type: string
                  format: binary
                       
      response:
        '302':
          description: 'Redirecionar após o processamento da edição do Perfil do Utilizador.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o Perfil do Utilizador.'
                  value: '/users/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição do Perfil do Utilizador.'
                  value: '/users/{id}/editar'


  #################
  # M02: Questões #
  #################  
  
  /questao/{id}: 
    get:
      operationId: R201
      summary: 'R201: Visualizar detalhes de questão'
      description: 'Mostra o detalhe de uma questão, dados, repostas e comentários associados. Acesso: USR.
                    Permite as seguintes funcionalidades: criar nova questão, votar numa intervenção, ....'
      tags:
        - 'M02: Questões'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Mostrar a UI do detalhes de questão'
          
  /questao/criar:
    get:
      operationId: R202
      summary: 'R202: Formulário de Nova Questão'
      description: 'Acesso ao formulário de Nova Questão. Acesso: USR'
      tags:
        - 'M02: Questões'
      responses:
        '200':
          description: 'Ok. Mostrar Nova Questão UI'
    post:
      operationId: R203
      summary: 'R203: Ação de criação de questão.'
      description: 'Acesso à submissão do formulário de Nova Questão. Acesso: USR'
      tags: 
        - 'M02: Questões'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                titulo: 
                  type: string
                texto:
                  type: string
                categoria:
                  type: string
              required: 
                - titulo
                - texto
                - categoria
      response:
        '302':
          description: 'Redirecionar após o processamento da criação da Nova Questão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão criada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o formulário de criação de Nova Questão.'
                  value: '/questao/criar'

  /questao/{id}/editar:
    get:
      operationId: R204
      summary: 'R204: Formulário de Editar Questão'
      description: 'Acesso ao formulário de Editar Questão. Acesso: PRT'
      tags:
        - 'M02: Questões'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Mostrar Editar Questão UI'

    post:
      operationId: R205
      summary: 'R205: Ação de Editar Questão'
      description: 'Acesso à submissão do formulário de Editar Questão. Acesso: PRT'
      tags:
        - 'M02: Questões'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                titulo: 
                  type: string
                texto:
                  type: string
                categoria:
                  type: string
              required: 
                - titulo
                - texto
                - categoria
      response:
        '302':
          description: 'Redirecionar após o processamento da edição da questão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão editada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição de uma questão.'
                  value: '/questao/{id}/editar'


  # M02: votacao e eliminicao e reporte de questões ?? é uma acção por isso nao deve ser incluída??
  /questao/{id}/votar:
    post:
      operationId: R206
      summary: 'R206: Ação de Votar numa Questão.'
      description: 'Ação de votar numa questão, acessível a qualquer utilizador autenticado exceto ao próprio autor. Acesso: USR - PRT' # Como se diz isto?
      tags: 
        - 'M02: Questões'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: boolean # Voto positivo ou negativo
              required: true  
      response:
        '302':
          description: 'Redirecionar após o processamento do voto.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Votação com sucesso. Redirecionar para o detalhe da questão que foi votada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Votação sem sucesso. Redirecionar para o detalhe da questão que foi votada.'
                  value: '/questao/{id}'

  /questao/{id}/eliminar:
    post:
      operationId: R207
      summary: 'R207: Ação de Eliminar uma Questão.'
      description: 'Ação de eliminar uma questão. Acesso: PRT, ADM'
      tags: 
        - 'M02: Questões'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      response:
        '302':
          description: 'Redirecionar após a eliminação da questão.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Eliminação com sucesso. Redirecionar para a página inicial.'
                  value: '/home'
                302Error:
                  description: 'Eliminação sem sucesso. Redirecionar para o detalhe da questão que seria eliminada.'
                  value: '/questao/{id}'

  /questao/{id}/reportar:

  # user stories -> experiencia para dar aos utilizadores -> para acoes precisamos de coisas que 
  # o que acontece no end point 
  # homepage -> experiencia do utilizador : o que tem disponível ai -> endpoint por exemplo para onde os formularios 
  # esta pagina vai fazer isto e permite tal. acoes nao na descrisao da pagina mas endpoints onde se realizam a ação 

  ##################
  # M03: Respostas #
  ##################

  /resposta/criar:
    get:
      operationId: R301
      summary: 'R301: Formulário de Nova Resposta'
      description: 'Acesso ao formulário de Nova Resposta. Acesso: USR'
      tags:
        - 'M03: Respostas'
      responses:
        '200':
          description: 'Ok. Mostrar Nova Resposta UI'
    post:
      operationId: R302
      summary: 'R302: Ação de criação de resposta.'
      description: 'Ação de submissão do formulário de Nova Resposta. Acesso: USR'
      tags: 
        - 'M03: Respostas'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string                
              required: 
                - texto
      response:
        '302':
          description: 'Redirecionar após o processamento da criação da nova resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão que foi respondida.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o formulário de criação de nova resposta.'
                  value: '/resposta/criar'

  /resposta/{id}/editar:
    get:
      operationId: R303
      summary: 'R303: Formulário de Editar Resposta'
      description: 'Acesso ao formulário de Editar Resposta. Acesso: PRT'
      tags:
        - 'M03: Respostas'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Ok. Mostrar Editar Resposta UI'
    post:
      operationId: R304
      summary: 'R304: Ação de Editar Resposta'
      description: 'Acesso à submissão do formulário de Editar Resposta. Acesso: PRT'
      tags:
        - 'M03: Resposta'

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                  required: true
      response:
        '302':
          description: 'Redirecionar após o processamento da edição da resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão respondida'
                  value: '/questão/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição de uma resposta.'
                  value: '/resposta/{id}/editar'


  # M03: votacao, validacao, eliminicao e reporte de respostas ?? é uma acção por isso nao deve ser incluída??
  /resposta/{id}/votar:
    post:
      operationId: R305
      summary: 'R305: Ação de votar num comentário.'
      description: 'Ação de votar num comentário, acessível a qualquer utilizador autenticado exceto ao próprio autor. Acesso: USR - PRT' # Como se diz isto?
      tags: 
        - 'M03: Respostas'

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer    

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: boolean # Voto positivo ou negativo
              required: true  
      
      response:
        '302':
          description: 'Redirecionar após o processamento do voto.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Votação com sucesso. Redirecionar para o detalhe da questão correspondente à resposta que foi votada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Votação sem sucesso. Redirecionar para o detalhe da questão correspondente à resposta que foi votada.'
                  value: '/questao/{id}'

  /resposta/{id}/eliminar:
    post:
      operationId: R306
      summary: 'R306: Ação de Eliminar uma Resposta.'
      description: 'Ação de eliminar uma resposta. Acesso: PRT, ADM'
      tags: 
        - 'M03: Respostas'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      response:
        '302':
          description: 'Redirecionar após a eliminação da resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Eliminação com sucesso. Redirecionar para o detalhe da questão correpsondente à resposta que seria eliminada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Eliminação sem sucesso. Redirecionar para o detalhe da questão correpsondente à resposta que seria eliminada.'
                  value: '/questao/{id}'

  /resposta/{id}/reportar:

  /resposta/{id}/validar:

  # M03: as respotas são apenas visualizadas como uma componente da pagina de destalhe da questao -- falta isto... :c


  ####################
  # M04: Comentários #
  ####################
                  
  /comentario/criar:
    get:
      operationId: R401
      summary: 'R401: Formulário de Novo Comentário'
      description: 'Acesso ao formulário de Novo Comentário. Acesso: USR'
      tags:
        - 'M04: Comentários'
      responses:
        '200':
          description: 'Ok. Mostrar Novo Comentário UI'
    post:
      operationId: R402
      summary: 'R402: Ação de criação de comentário.'
      description: 'Acesso à submissão do formulário de Novo comentário. Acesso: USR'
      tags: 
        - 'M04: Comentários'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                  required: true
      response:
        '302':
          description: 'Redirecionar após o processamento da criação do novo comentário.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Criação com sucesso. Redirecionar para o detalhe da questão comentada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Criação sem sucesso. Redirecionar para o formulário de criação de novo comentário.'
                  value: '/comentario/criar'
  
  /comentario/{id}/editar:
    get:
      operationId: R403
      summary: 'R403: Formulário de Editar comentário'
      description: 'Acesso ao formulário de Editar comentário. Acesso: PRT'
      tags:
        - 'M04: Comentários'
      responses:
        '200':
          description: 'Ok. Mostrar Editar Comentário UI'
    post:
      operationId: R404
      summary: 'R404: Ação de Editar Comentário'
      description: 'Acesso à submissão do formulário de Editar Cometário. Acesso: PRT'
      tags:
        - 'M04: Comentários'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                required: true
      response:
        '302':
          description: 'Redirecionar após o processamento da edição do comemtário.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Edição com sucesso. Redirecionar para o detalhe da questão comentada'
                  value: '/questão/{id}'
                302Error:
                  description: 'Edição sem sucesso. Redirecionar para o formulário da edição de um comentário.'
                  value: '/comentario/{id}/editar'

  # M04: eliminicao e reporte de comentarios ?? é uma acção por isso nao deve ser incluída??
  /comentario/{id}/eliminar:
    post:
      operationId: R405
      summary: 'R405: Ação de Eliminar um Comentário.'
      description: 'Ação de eliminar um comentário. Acesso: PRT, ADM'
      tags: 
        - 'M04: Comentários'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer   
      response:
        '302':
          description: 'Redirecionar após a eliminação da resposta.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Eliminação com sucesso. Redirecionar para o detalhe da questão correpsondente à resposta que seria eliminada.'
                  value: '/questao/{id}'
                302Error:
                  description: 'Eliminação sem sucesso. Redirecionar para o detalhe da questão correpsondente à resposta que seria eliminada.'
                  value: '/questao/{id}'

  /comentario/{id}/reportar:

  # M04: os comentarios são apenas visualizados como uma componente da pagina de destalhe da questao...


  #################################
  # M05: Pesquisa de Intervenções #
  #################################
  
  /questao:
    get:
      operationId: R501
      summary: 'R501: Pesquisar Intervenções API.'
      description: 'Procura por intervenções e retorna o resultado como JSON. Acesso: USR.'
  
      tags: 
        - 'M05: Pesquisa de Intervenções'

      parameters:
        - in: query
          name: keyword
          description: Palavra chave a ser usada para pesquisa full-text
          schema:
            type: string
          required: false
        - in: query
          name: uc
          description: Unidade curricular a ser usada para pesquisa 
          schema:
            type: array
            items:
              type: string
          required: false


  ##########################################
  # M06: Pesquisa de Unidades Curriculares #
  ##########################################

  /ucs:
    get:
      operationId: R601
      summary: 'R601: Pesquisar Unidades Curriculares API.'
      description: 'Procura de unidades curriculares e retorna o resultado como JSON. Acesso: USR.'
  
      tags: 
        - 'M06: Pesquisa de Unidades Curriculares'

      parameters:
        - in: query
          name: nome
          description: Palavra chave a ser usada para pesquisa pelo nome da uc
          schema:
            type: string
          required: false
        - in: query
          name: sigla
          description: Palavra chave a ser usada para pesquisa pela sigla da uc 
          schema:
            type: string
          required: false


  #################################
  # M07: Pesquisa de Utilizadores #
  #################################

  /users:
    get:
      operationId: R701
      summary: 'R701: Pesquisar Utilizadores API.'
      description: 'Procura utilizadores e retorna o resultado como JSON. Acesso: USR.'
      tags: 
        - 'M07: Pesquisa de Utilizadores'

      parameters:
        - in: query
          name: nome
          description: Palavra chave a ser usada para pesquisa full-text
          schema:
            type: string
          required: false
   

  #####################
  # M08: Notificações #
  #####################

  /users/{id}/notificacoes:
    get: 
      operationId: R801
      summary: 'R801: UI de Notitificações do Utilizador.'
      description: 'Mostra as Notificações de um Utilizador. Acesso: PRT.'
      tags: 
        - 'M08: Notificações'

      parameters:
        - in: path
          name: id
          description: Identificador do Utilizador
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Mostrar Notitificações do Utilizador UI'

  # marcar como lidas é ação?? nao deve estar aqui como resource
  # eliminacao é uma ação - nao deve estar incluido??

  /users/{id}/notificacao/{not}/eliminar:

  /users/{id}/notificacao/{not}/ler:


  ###########################
  # M09 - Páginas estáticas #
  ###########################

  /home:
    get:
      operationId: R901
      summary: 'R901: Página Inicial'
      description: 'Acesso à Página Inicial. Acesso: PUB'
      tags:
        - 'M09: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Inicial UI'

  /sobre:
    get:
      operationId: R902
      summary: 'R902: Página Sobre'
      description: 'Acesso à Página Sobre. Acesso: PUB'
      tags:
        - 'M09: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Sobre UI'

  /contactos:
    get:
      operationId: R903
      summary: 'R903: Página Contactos'
      description: 'Acesso à Página Contactos. Acesso: PUB'
      tags:
        - 'M09: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página Contactos UI'

  /faq:
    get:
      operationId: R904
      summary: 'R904: Página FAQ'
      description: 'Acesso à Página FAQ. Acesso: PUB'
      tags:
        - 'M09: Páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostrar Página FAQ UI'


  ##################################
  # M10 - Páginas de administração # 
  ##################################

  /admin/contas: # -> todos os users ? ()
  
  /admin/ucs: # -> gerir e associar a docentes

  /admin/denuncias:
    get:
      operationId: R1001
      summary: 'R1001: Catálogo de Denúncias'
      description: 'Mostra todas denúncias recebidas. Acesso: ADM'
      tags:
        - 'M10: Páginas de administração'
        
      response:
        '200':
          description: 'OK. Mostrar UI com todas as denúncias.'
  
  
  /admin/bloquear/{id}:
    post:
      operationId: R1017
      summary: 'R1017: Ação de Alterar Estado de Conta'
      description: 'Ação de eliminar, bloquear ou reativar uma conta a partir do perfil da mesma. Acesso: ADM'
      tags:
        - 'M10: Páginas de administração'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:     # id de uma intervenção
                  type: integer
                estado: # bloqueio ou eliminação
                  type: string
              required:
                - id
                - estado
      response:
        '200':
          description: 'Estado da conta alterado com sucesso.'  


      
    
    
    
    
#---exemplo--

  /api/works:
    get:
      operationId: R202
      summary: 'R202: Search Works API'
      description: 'Searches for works and returns the results as JSON. Access: PUB.'

      tags: 
        - 'M02: Works'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: item
          description: Category of the works
          schema:
            type: string
          required: false
        - in: query
          name: loaned
          description: Boolean with the loaned flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: owner
          description: Boolean with the owner flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the work classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    obs:
                      type: string
                    year:
                      type: string
                    owner:
                      type: string
                    type:
                      type: string
                example:
                  - id: 1
                    title: Rihanna - Unapologetic
                    obs: Good pop music album.
                    year: 2012
                    owner: Joana Lima
                    type: MP3
                  - id: 15
                    title: Mr. Bean
                    obs: The best comedy movie.
                    year: 1995
                    owner: Manuel Teixeira
                    type: DVD