#header-container, #navbar-content-container {
  grid-template-columns: 1fr 3fr;
}
#logo-img, #profile-photo {
  height: 32px;
  width: 32px;
  object-fit: cover;
}
#header-notification-icon span{
  font-size: 0.75rem;
}
.navbar-nav {
  min-height: calc(100vh - 110px);
}
.nav-link, .navbar-text, .app-link {
  color: rgb(41, 41, 41);
}
.nav-link:hover, .nav-link:focus, 
.app-link:hover, .app-link:focus {
  color: rgb(128, 128, 128);
}
section#faq-page .accordion-button:not(.collapsed) {
  color: rgb(128, 128, 128);
}
#home-page .mask-white {
  background-color: rgba(255, 255, 255, 0.75);
}
.home-icons-icon i {
  font-size: 2rem;
}
.d-contents {
  display:contents;
}
.about-icons-item {
  max-width: 20rem;
}
.about-icons-icon {
  height: 5rem;
}
.about-icons-icon i {
  font-size: 4rem;
}
.contextual-help {
  font-size: large;
  vertical-align: middle;
}
form .contextual-help {
  font-size: medium;
}
.user-action-add {
  display: flex;
  justify-content: space-between;
}
.question-card .question-card-score, 
.notification-card .notification-card-read-mark {
  align-items: center;
  text-align: center;
  background-color: rgb(255,255,255)!important;
}
.question-card .question-card-score {
  display: grid!important;
  align-content: center;
}
.notification-card .notification-card-read-mark {
  display: flex;
  justify-content: center;
}
a.intervention-vote {
  cursor: pointer;
}
.question-card span.text-muted, 
.user-profile span.text-muted,
#question-page .question-card p.text-muted,
#notifications-page span.text-muted {
  font-size: .75rem;
}
.question-card .question-card-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
}
.question-valid-icon, 
.question-invalid-icon {
  font-size: x-large;
  margin-top: .5rem;
}
.question-valid-icon {
  color: #00b74a;
}
.question-invalid-icon {
  color: #e42e0d;
}
#question-page .question-detail > .row {
  margin-right: 0;
}
#question-page .answer-detail > .row {
  margin-right: 0;
  width: 100%;
}
#question-page .comment-detail > .row {
  margin-right: 0;
  width: 85%;
}
#question-page .question-details-validation-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
}
#question-page .question-details-validation-icon i {
  font-size: xx-large;
  margin-top: 2.5rem;
}
#question-page .intervention-votes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#question-page .question-detail .question-page-actions,
#question-page .answer-detail .question-page-actions,
#question-page .comment-detail .question-page-actions,
.notification-card .notifications-page-actions {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
#question-page .question-detail .card:hover .question-page-actions,
#question-page .answer-detail .card:hover .question-page-actions,
#question-page .comment-detail .card:hover .question-page-actions,
.notification-card:hover .notifications-page-actions {
  display: inherit;
}
#question-page .card-body > p:first-of-type,
#notifications-page .card-body >p:first-of-type {
  /*margin-right: 8rem;*/
  margin-bottom: 1rem;
}
#question-page .comment-detail .card {
  box-shadow: none;
  border: 1px solid #efefef;
}
#question-page .comment-detail .card-body {
  padding: .5rem;
}
#question-page .comment-detail .card-body p {
  margin-bottom: .5rem;
  font-size: smaller;
}
.uc-card-icon, .question-card-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.question-card-icon-validate {
  float: right;
}
.card-body img {
  max-width: 100%;
  height: auto;
}
.card-body table, .card-body td, .card-body th {
  border: 1px solid #554f4f;
}
.card-body pre {
  padding: 12px;
  border-radius: 5px;
  overflow: auto;
  background-color: #f6f6f6;
}
#notifications-page .notification-unread .card-body {
  border-left: 5px solid blue;
}
#notifications-page .notification-unread .card-body h5{
  font-weight: bolder;
}
div.admin-action-add {
  position: relative;
}
div.admin-action-add a {
  position: absolute;
  right: 0.75rem;
  top: 0;
}
td.admin-table-uc-actions section.actions-buttons, 
td.admin-table-user-actions section.actions-buttons,
td.admin-table-reports-actions section.actions-buttons {
  white-space: nowrap;
  vertical-align: middle;
}
#admin-requests-page .expand-button:hover {
	cursor: pointer;
}
.form-label.required:after {
  content:" *";
  color:red;
}
.filter-form .filter-parameter {
  width:fit-content;
}
.dropdown-keep-open .dropdown-menu {
  overflow: hidden;
  overflow-y: auto;
  max-height: 450px;
}
footer > p {
  font-size: small;
}

@media (max-width: 575px) {
  #header-logo-column, #header-options-column,
  #navbar-column, #content-column {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #header-logo-column {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  #navbar-column {
    border-bottom: 1px solid #e0e0e0;
    border-right: 0px!important;
  }
  .navbar-nav {
    min-height: auto;
  }
}
@media (max-width: 767px) {
  #form-login, #form-uc-create, #form-uc-edit,
  #form-forgot-password, #form-reset-password {
    width: 100%!important;
  }

  .home-icons-icon {
    text-align: center!important;
  }
}
@media (max-width: 1199px) {
  #form-question-create, #form-question-edit,
  #form-answer-edit, #form-comment-edit {
    width: 100%!important;
  }
}